<div class="container-fluid body">

    <div class="row p-0 d-flex justify-content-center">
        <div class="col-2">


        </div>
        <div class="col-8">
            
            <app-body-navbar> </app-body-navbar>

            <app-header-data-game [game]="game"> </app-header-data-game>
            <app-body-data-game [game]="game"></app-body-data-game>
            <app-reviews [game]="game"> </app-reviews>

        </div>
        <div class="col-2">
        </div>
    </div>
</div>