<div class="container-fluid game-page-container">
    <div class="d-flex flex-wrap">

        <div class="col-lg-2 section"></div>

        <div class="col-lg-8 section">

            <div class="d-flex flex-column header">
                <div class="col section"> 
                    <app-body-navbar> </app-body-navbar>
                </div>
                <div class="col section">
                    <app-header-data-game [game]="game"> </app-header-data-game>
                </div>
                <div class="col section">
                    <app-body-data-game [game]="game" [systemRequirements]="systemRequirements"></app-body-data-game>
                </div>
                <div class="col section">
                    <app-reviews [game]="game"> </app-reviews>
                </div>
            </div>
        </div>

        <div class="col-lg-2 section"></div>

    </div>
</div>
<!-- <div class="container-fluid px-0">
    <div class="d-flex flex-wrap">
        <div class="col-2">

        </div>

        <div class="col-8">

            <div class="container p-0">
                <div class="d-flex flex-wrap">
                    <div class="col">

                    </div>
                    <div class="col-11">
                        <app-body-navbar> </app-body-navbar>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>

            <div class="container p-0">
                <div class="d-flex flex-column">
                    <div class="col">
                        <app-header-data-game [game]="game"> </app-header-data-game>
                    </div>
                    <div class="col">
                        <app-body-data-game [game]="game" [systemRequirements]="systemRequirements"></app-body-data-game>
                    </div>
                    <div class="col">
                        <app-reviews [game]="game"> </app-reviews>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">

        </div>

    </div>
</div> -->
