<div class="container-fluid body p-0 m-0 min-vh-100">

    <div class="row p-0 w-100 d-flex justify-content-center">
        <div class="col-2">

        </div>
        <div class="col-8">

            <div class="container-fluid mb-2 mt-4 px-0">
                <div class="row">
                    <div class="col-1 p-0">

                    </div>

                    <div class="col-10 p-0">
                        <app-body-navbar> </app-body-navbar>
                    </div>

                    <div class="col-1 p-0">

                    </div>
                </div>
            </div>

            <app-header-data-game> </app-header-data-game>
            <app-body-data-game></app-body-data-game>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

