.cardBanners {
    display: flex;
}

.firstBanner{
 width: 41.594vw;
 height: 8.44vw;
 margin-top: 5px;
 margin-right: 9px;
}

.secondBanner{
    width: 21.202vw;
    height: 8.44vw;
    margin-top: 5px;
}