.admin-page-container {
    max-width: 100rem;

    p {
        margin: 0;
    }

    .header .section {
        .first-heading {
            color: #ffffff;
            font-size: 34px;
            font-family: "Motiva Sans", Sans-serif;
            font-weight: normal;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
            text-transform: uppercase;
        }

        .header {

            //col-8
            .table-section {
                .header {

                    //parte iniziale della tabella
                    .primary-section {
                        background: #00000066;

                        .input {
                            background: initial;
                            background-color: rgba(103, 193, 245, 0.2);
                            color: #fff;
                            border: 1px solid #000;
                            border-radius: 3px;
                            box-shadow: 1px 1px 0px rgba(103, 193, 245, 0.15);
                            width: 14rem;
                            padding-left: 0.5rem;

                            &:focus-visible {
                                border: initial !important;
                                outline: initial;
                            }
                        }


                        input::placeholder {
                            opacity: 1;
                            color: white;
                        }

                        .button {
                            background: initial;
                            border: initial;
                            color: #67c1f5;
                            background: #67c1f533;
                            font-size: 12px;
                            border-radius: 2px;
                            font-weight: normal;

                            &:hover {
                                background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
                                color: white;
                            }
                        }

                        .label {
                            background: initial;
                            font-size: 12px;
                            color: #4c6c8c;
                        }

                        .form-select {
                            background: initial;
                            width: initial;
                            padding: initial;
                            border: initial;
                            border-radius: 2px;
                            background-color: #053d65e1;
                            color: #67c1f5;
                            font-size: 12px;
                            padding: 0.3rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            &:focus {
                                box-shadow: initial;
                                border: initial;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    //card per l'aggiunta dei giochi
                    .add-section .header {
                        background: rgba(0, 0, 0, 0.2);

                        .button {
                            background: initial;
                            border: initial;
                            color: #67c1f5;
                            background: rgba(103, 193, 245, 0.2);
                            font-size: 12px;
                            border-radius: 2px;
                            font-weight: normal;

                            &:hover {
                                background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
                                color: white;
                            }
                        }

                    }

                    //informazioni del gioco
                    .card-section {
                        .header {
                            background: rgba(0, 0, 0, 0.2);

                            &:hover {
                                border: 1px solid rgba(139, 185, 224, 0.2);
                                background: rgba(0, 0, 0, 0.4);
                                cursor: pointer;
                            }
                        }

                        .section:nth-child(1) {
                            .image {
                                object-fit: cover;
                            }
                        }

                        .section:nth-child(2) {
                            .image {
                                color: #62696e;
                            }

                            .label {
                                color: #c6d4df;
                                font-size: 12px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        .section:last-child {
                            .button {
                                background: initial;
                                border: initial;
                                color: #67c1f5;
                                background: rgba(103, 193, 245, 0.2);
                                font-size: 12px;
                                border-radius: 2px;
                                font-weight: normal;

                                &:hover {
                                    background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        //col-4
        .filtrer-section {
            .header {

                //Filtro sul prezzo
                .section {
                    .accordion {
                        .accordion-item {
                            background: rgba(255, 255, 255, 0.1);

                            button {
                                background: initial;
                                border: initial;
                                color: #c7d5e0;
                                font-size: 12px;
                                font-weight: normal;
                            }

                            .accordion-collapse {
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                border-radius: 2px;
                                background-color: #1B2838;

                                .checkbox {
                                    line-height: 28px;

                                    &:hover {
                                        color: #ffffff;
                                        background: rgba(255, 255, 255, 0.1);
                                        cursor: pointer;
                                    }

                                    .label {
                                        font-size: 13px;
                                        font-family: "Motiva Sans", Sans-serif;
                                        font-weight: normal;
                                        color: #9fbbcb;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* .admin-page-container {
    max-width: 100rem;

    p {
        margin: 0;
    }

    .header .section {
        .header {

            //col-8
            .section .header {

                .section:nth-child(1) .header {
                    background: rgba(0, 0, 0, 0.4);

                    .input {
                        background: initial;
                        background-color: rgba(103, 193, 245, 0.2);
                        color: #fff;
                        border: 1px solid #000;
                        border-radius: 3px;
                        box-shadow: 1px 1px 0px rgba(103, 193, 245, 0.15);
                        width: 14rem;
                        padding-left: 0.5rem;
                    }


                    input::placeholder {
                        opacity: 1;
                        color: white;
                    }

                    .button {
                        background: initial;
                        border: initial;
                        color: #67c1f5;
                        background: rgba(103, 193, 245, 0.2);
                        font-size: 12px;
                        border-radius: 2px;
                        font-weight: normal;

                        &:hover {
                            background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
                            color: white;
                        }
                    }

                    .label {
                        background: initial;
                        font-size: 12px;
                        color: #4c6c8c;
                    }
                }

            }

            .section:nth-child(2) {
                background-color: red;
            }
        }
    }
} */