.pillar{
    background-image: url(../../../assets/momentary_user-page/cf_oc_olymp_column_D.png);
}

.main{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 99vh;
    min-width: 99vh;
}

.Titolo{
    background-color: white;
}

.Sottotitolo{
    text-align: center;
    color:white;
}

.raspButtonF{
    background-color: #ae5cf2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.raspButtonS{
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}