<div class="container header-data-game-container">
    <div class="d-flex flex-wrap-reverse header-data-game-header">

        <div class="col header-data-game-col-11-section">
            <div class="container p-0 game-deals-container">
                <div class="d-flex flex-column game-deals-header">

                    <div class="col p-0 mt-3 game-deals-tag-section">
                        <span class="search p-0 game-deals-tag"> All Games > <span class="tag" (click)="goTo('../games/' + game?.tags[0]?.name.toLowerCase())"> {{game?.tags[0]?.name}} </span> >
                            {{game?.game.developers_games[0]?.developers.user.username}} > {{game?.game?.name}} </span>
                    </div>

                    <div class="col p-0 game-deals-caption-section pb-3 pt-1">
                        <span class="game-deals-caption"> {{game?.game?.name}} </span>
                    </div>

                    <div class="container p-0 game-container">
                        <div class="d-flex flex-wrap game-header">

                            <div class="col-8 game-col-8-section">
                                <div id="custCarousel" class="carousel-fade carousel" data-bs-ride="carousel">

                                    <div class="carousel-inner">
                                        <ng-container *ngFor="let item of game?.images.slice(1, 5); let i = index;">
                                            <div class="carousel-item" [class.active]="i === 0">
                                                <img [src]="item" class="carousel-image">
                                            </div>
                                        </ng-container>
                                    </div>

                                    <ol class="carousel-indicators list-inline">
                                        <ng-container *ngFor="let item of game?.images.slice(1, 5); let i = index">
                                            <li class="list-inline-item" [class.active]="i === 0">
                                                <a [id]="'carousel-selector' + (i + 1)" [attr.data-bs-slide-to]="i"
                                                    data-bs-target="#custCarousel">
                                                    <img [src]="item" class="carousel-sm-image">
                                                </a>
                                            </li>
                                        </ng-container>
                                    </ol>

                                </div>
                            </div>

                            <div class="col-4 game-col-4-section">

                                <div class="container pe-0 game-deals-container">
                                    <div class="d-flex flex-column game-deals-header">

                                        <div class="col game-deals-image-section">
                                            <img class="game-deals-image p-0" [src]="game?.images[0]">
                                        </div>

                                        <div class="col mt-2 game-deals-content-section">
                                            <p class="game-deals-content"> {{game.game.short_description}} </p>
                                        </div>

                                        <div class="col mt-2 game-deals-content-section">
                                            <span class="game-deals-content-label"> all reviews </span>
                                            <span class="game-deals-content-item"> {{game.evaluation}} </span>
                                            <span class="game-deals-content-number"> ({{game.positive + game.negative}})
                                            </span>
                                        </div>

                                        <div class="col game-deals-content-section">
                                            <span class="game-deals-content-label"> release date </span>
                                            <span class="game-deals-content-date"> {{game.game.date | date:'dd MMM, yyyy'}} </span>
                                        </div>

                                        <div class="col mt-3 game-deals-content-section">
                                            <span class="game-deals-content-label"> developers </span>
                                            <span class="game-deals-content-item">
                                                {{game.game.developers_games[0].developers.user.username}}
                                            </span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
