<!-- <div class="page-body d-flex flex-column justify-content-between">
      <app-navbar *ngIf="components.header"></app-navbar>
      <div *ngIf="components.sidebar; else noSidebar" class="d-flex flex-row">
            <app-sidebar *ngIf="components.sidebar"></app-sidebar>
            <router-outlet></router-outlet>
      </div>
      <ng-template #noSidebar>
            <div class="d-flex flex-column flex-grow-1">
                  <router-outlet></router-outlet>
            </div>
      </ng-template>
</div>
 -->
 
<app-navbar> </app-navbar>
<router-outlet> <app-sidebar> </app-sidebar> </router-outlet>