::ng-deep .mat-tab-label {
    color: #4f94bc;
    opacity: initial !important;
    font-weight: normal !important;
    font-size: 13px;
    cursor: pointer;

    .mat-tab-label-0-0 {
        padding: 0 !important;
    }

}

mat-card {
    background: #202d39;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.2s !important;
    cursor: pointer;
}

mat-card:hover {
    transform: scale(1.02) !important;
    z-index: 2 !important;
    cursor: pointer;
}


div.price {
    padding-right: 15px !important;
}

.title {
    color: #c7d5e0;
    font-size: 0.78125vw;
}

.price {
    color: #BEEE11;
    line-height: 16px;
    font-size: 0.78125vw;
}

img.opacity {
    opacity: 0.3;
}

img.game {
    height: 69px;
    width: 95%;
    object-fit: fill;
}

span.tags {
    color: #384959;
    font-size: 0.72vw;
}

span.free {
    color: white; 
    font-size: 0.78125vw;
}

span.discount {
    font-size: 0.78125vw;
    color: #BEEE11;
}

span.basePriceDiscount {
    color: #738895; 
    font-size: 0.57vw; 
    text-decoration: line-through
}

div.discountPercentage {
    font-size: 0.83vw; 
    align-items: center; 
    display: flex; 
    padding: 0 4px; 
    border-radius: 1px; 
    font-weight: 500; 
    color: #BEEE11;
    background: #4c6b22;
}

span.basePrice {
    color: white;
    font-size: 0.78125vw;
}

@media only screen and (min-width: 1200px) {

    .price,
    .title,
    span.free,
    span.discount,
    span.basePrice {
        font-size: 15px;
    }

    div.discountPercentage {
        font-size: 16px;
    }

    span.basePriceDiscount {
        font-size: 11px;
    }

    span.tags {
        font-size: 14px;
    }
}

@media only screen and ((min-width: 1200px) and (min-width: 992px) and (min-width: 768px) and (min-width: 600px)) {

    .col-1 {
        max-width: 9.996rem;
    }

    .col-2 {
        max-width: 19.992rem;
    }

    .col-3 {
        max-width: 30rem;
    }

    .col-4 {
        max-width: 39.996rem;
    }

    .col-5 {
        max-width: 49.992rem;
    }

    .col-6 {
        max-width: 60rem;
    }

    .col-7 {
        max-width: 69.996rem;
    }

    .col-8 {
        max-width: 79.992rem;
    }

    .col-9 {
        max-width: 90rem;
    }

    .col-10 {
        max-width: 99.996rem;
    }

    .col-11 {
        max-width: 109.992rem;
    }

    .col-12 {
        max-width: 120rem;
    }
}

