::ng-deep .mat-tab-label {
    color: #4f94bc;
    opacity: initial !important;
    font-weight: normal !important;
    font-size: 13px;
    cursor: pointer;

    .mat-tab-label-0-0 {
        padding: 0 !important;
    }
}

div.price {
    padding-right: 15px !important;
}

/* mat-card-header {
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/2275020/capsule_184x69.jpg?t=1709222621");
    width: 184px;
    height: 69px;
    padding: 0;
    margin: 0;
} */

mat-card {
    background: #202d39;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.title {
    color: #c7d5e0;
    font-size: 0.78125vw;
}

.price {
    color: #BEEE11;
    line-height: 16px;
    font-size: 0.78125vw;
}

img.opacity {
    opacity: 0.3;
}

span.tags {
    color: #384959;
    font-size: 0.72vw;
}

span.free {
    color: white; 
    font-size: 0.78125vw;
}

span.discount {
    font-size: 0.78125vw;
    color: #BEEE11;
}

span.basePriceDiscount {
    color: #738895; 
    font-size: 0.57vw; 
    text-decoration: line-through
}

div.discountPercentage {
    font-size: 0.83vw; 
    align-items: center; 
    display: flex; 
    padding: 0 4px; 
    border-radius: 1px; 
    font-weight: 500; 
    color: #BEEE11;
    background: #4c6b22;
}

span.basePrice {
    color: white;
    font-size: 0.78125vw;
}

@media only screen and (min-width: 1200px) {

    .price,
    .title,
    span.free,
    span.discount,
    span.basePrice {
        font-size: 15px;
    }

    div.discountPercentage {
        font-size: 16px;
    }

    span.basePriceDiscount {
        font-size: 11px;
    }

    span.tags {
        font-size: 14px;
    }
}

