<div class="container py-3 my-3 d-block product-banner-container">
    <div class="d-flex flex-wrap">

        <div class="col">

        </div>

        <div class="col-11">

            <div class="container p-0">
                <div class="d-flex flex-wrap">
                    <div class="col-12 p-0">
                        <img class="img-fluid" routerLink="/steam-deck"
                            src="../../../../assets/steamdeck/deck_banner_animated_webm_english.gif"
                            width="99%">
                    </div>
                </div>
            </div>

        </div>

        <div class="col">

        </div>

    </div>
</div>