img:hover {
    box-shadow:0px 0px 0.75rem 0.1875rem #54a5d4;
    cursor: pointer;  
}

.cardBanners .secondBanner img{
    display:inline-block;
     /* 110px */
}

/* @media only screen and (max-width: 1320px) {
    .product-banner-container {
      width: max-content;
    }
  } */
  