<div class="container py-3 my-3 d-block">
    <div class="d-flex flex-wrap">

        <div class="col">

        </div>

        <div class="col-11">

            <div class="container p-0">
                <div class="d-flex flex-wrap">
                    <div class="col-8 p-0">
                        <img class="img-fluid" routerLink="/steam-deck"
                            src="https://cdn.cloudflare.steamstatic.com/steam/clusters/sale_autumn2019_assets/54b5034d397baccb93181cc6/deck_banner_desktop_english.jpg?t=1703196448"
                            width="99%">
                    </div>
                    <div class="col-4 p-0">
                        <img class="img-fluid"
                            src="https://cdn.cloudflare.steamstatic.com/store/home/store_index_promo.jpg" width="99%">
                    </div>
                </div>
            </div>

        </div>

        <div class="col">

        </div>

    </div>
</div>