/* .img {
  background-image: url("https://cdn.cloudflare.steamstatic.com/steam/spotlights/2690f9471176e481867dab8e/spotlight_image_english.jpg?t=1706918822");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

.price {
    background-image: url('../../../assets/image/background_spotlight.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 2rem;
  }
  
  div.row.ps-2 {
    max-width: 10rem;
  }
  
  .carousel {
    margin-bottom: 4rem;
  }
  
  .orizontalImg {
    max-height: 8rem;
    background-size: cover;
  }
  
  .carousel-caption {
    bottom: 3rem;
  }
  
  
  .carousel-item {
    height: 32rem;
  }
  
  .carousel-control-next,
  .carousel-control-prev {
    width: 3rem;
    max-height: 20vh;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.3) 95%);
  }
  
  .mat-card {
    /* width: 100vw; */ 
    border-radius: 0px;
    /* background-image: url("../../../assets/image/background_spotlight.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 0;
  }
  
  .orizontal {
    height: 9.75rem;
  }
  
  .titleScount {
    color: #BEEE11;
    font-size: 15px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
  }
  
  .scount {
    max-width: 5rem;
    font-weight: 500;
    color: #BEEE11;
    background: #4c6b22;
    display: inline-block;
  }
  
  .scount_2 {
    background-color: #344654;
    font-weight: normal;
  }
  
  .titleScount_2 {
    font-size: 11px;
    color: #738895;
    text-decoration: line-through;
  }
  
  div.col-1 {
    max-height: 55vh;
  }
  
  #myCarousel {
    max-height: 55vh;
  }
  
  .buttonBotton {
    width: 15px;
    height: 9px;
    border-width: 1px;
    border-radius: 2px;
    background-color: #606974;
  }
  
  p.title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
  }
  
  p.subTitle {
    color: #acdbf5;
    font-size: 12px;
  }
  
  /* 
  .orizontal {
    height: 10.8rem;
  }
   */
  @media only screen and (max-width: 62.5rem) {
  
    div.arrow,
    button {
      display: none !important;
      max-height: 10rem;
    }
  
    .main {
      justify-content: center;
    }
  
    .mat-card {
      max-height: 12rem;
    }
  
    .orizontal {
      max-height: 5.313rem;
    }
  
    .price {
      max-height: 3rem;
    }
  
    .price.justify-content-end {
      max-height: 2rem;
    }
  
    p.title {
      font-size: 10px;
    }
  
    p.subTitle {
      font-size: 8px;
    }
  }
  
  @media only screen and ((min-width: 1200px)  and (min-width:  992px) and (min-width: 768px)  and (min-width: 600px)) {
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-1 {
        max-width: 9.996rem;
    }
  
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-2 {
        max-width: 19.992rem;
    }
  
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3 {
        max-width: 30rem;
    }
  
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4 {
        max-width: 39.996rem;
    }
  
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5 {
        max-width: 49.992rem;
    }
  
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6 {
        max-width: 60rem;
    }
  
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7 {
        max-width: 69.996rem;
    }
  
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8 {
        max-width: 79.992rem;
    }
  
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9 {
        max-width: 90rem;
    }
  
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10 {
        max-width: 99.996rem;
    }
  
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11 {
        max-width: 109.992rem;
    }
  
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        max-width: 120rem;
    }
  }