.cardBanners {
    display: flex;
    margin-top: 1rem; /* 16px */
}

.firstBanner{
 width: 33.75rem; /* 540px */
 height: 6.8125rem; /* 109px */
 margin-top: 0.3125rem; /* 5px */
 margin-right: 0.4375rem; /* 7px */
}

.secondBanner{
    display:inline-block;
    width: 18rem; /* 288px */
    height: 5.875rem; /* 94px */
    margin-top: 0.3125rem; /* 5px */
    min-height: 6.9375rem; /* 111px */
}

.firstBanner:hover{
   box-shadow:0px 0px 0.75rem 0.1875rem #54a5d4;
   cursor: pointer;
}

.secondBanner:hover{
   box-shadow:0px 0px 0.75rem 0.1875rem #54a5d4;
   cursor: pointer;
}

.cardBanners .secondBanner img{
    display:inline-block;
    height: 6.875rem; /* 110px */
}
