.firstImage {
    width: 100%;
    height: 109px;
    /*  margin-top: 0.3125rem;
 margin-right: 0.4375rem;  */
}

.secondImage {
    width: 100%;
    height: 109px;
}
img:hover {

    box-shadow:0px 0px 0.75rem 0.1875rem #54a5d4;
    cursor: pointer;
    
}

.cardBanners .secondBanner img{
    display:inline-block;
     /* 110px */
}
