
    <div id="carouselcenter">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-6">
                                    <img class="card-img" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/header.jpg?t=1702580894" alt="Game Image Main">
                                </div>
                                <div class="col-6">
                                    <div class="card-body">
                                        <h5>Call of Duty®</h5>
                                            <div class="screenshotcontainer">
                                                <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_7fc9df406831fa50c22211fa0909ff03abb1d825.600x338.jpg?t=1702580894" alt="Game Image 1">
                                                <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_cd0b51951043de14e0b8cab9c13fea461240a616.600x338.jpg?t=1702580894" alt="Game Image 2">
                                                <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_60e3de87fc2ed696cfb85cb2c6089424ae2f5f23.600x338.jpg?t=1702580894" alt="Game Image 3">
                                                <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_7f4c9c08a0c89d53436370ef39957ba4e53e31e0.1920x1080.jpg?t=1702580894" alt="Game Image 4">
                                                <div class="reason">
                                                    <div class="mainDefault">Disponibile ora</div>
                                                    <div class="additional">
                                                        <div>Il più venduto</div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-6">
                                <img class="card-img" src="https://cdn.akamai.steamstatic.com/steam/apps/221100/header.jpg?t=1703605389" alt="Game Image">
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <h5>Dayz</h5>
                                        <div class="screenshotcontainer">
                                            <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_7fc9df406831fa50c22211fa0909ff03abb1d825.600x338.jpg?t=1702580894" alt="Game Image 1">
                                            <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_cd0b51951043de14e0b8cab9c13fea461240a616.600x338.jpg?t=1702580894" alt="Game Image 2">
                                            <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_60e3de87fc2ed696cfb85cb2c6089424ae2f5f23.600x338.jpg?t=1702580894" alt="Game Image 3">
                                            <img class="gamescreenshot" src="https://cdn.akamai.steamstatic.com/steam/apps/1938090/ss_7f4c9c08a0c89d53436370ef39957ba4e53e31e0.1920x1080.jpg?t=1702580894" alt="Game Image 4">
                                        </div>
                                    <div class="mainDefault">
                                        <p>Disponibile Ora</p>
                                        <div class="tags">
                                            <span class="tag mr-1">Lotta</span>
                                            <span class="tag r-1">Hack & slash</span>
                                            <span class="tag mr-1">Effetti cruenti</span>
                                            <span class="tag mr-1">PvP</span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>