/* .carouselContainer {
    position: relative;
    top: 150px;
    margin: 100px;
}

.carousel-container {
    position: relative;
  }
  
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

#bello{
    background-color: aquamarine;
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        
        top: auto;
        bottom: 10px;  
    }

    .carousel-control-prev {
        left: 5px; 
    }

    .carousel-control-next {
        right: 5px;  
    }
}


.card-img-top{
    height: 305px;
    width: 305px;
}

 
.card-body{
    background-image: url('https://images-ext-1.discordapp.net/external/7eB7l0xB29zq-Gj21I66XGmBVAdSW1MJ2O8jT3psHTc/https/store.akamai.steamstatic.com/public/images/v6/home/background_spotlight.jpg?format=webp');
}

#daily{
    background: linear-gradient( to bottom, #BCE1F6 5%, #abdaf4 95%);
}

#daily{
    background-color: #abdaf4;
}

.carousel-item{
    height: 400px;
    width: 500px;
    top: 100px;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.carousel-item:not(.active) {
    opacity: 0;
}

.carousel-inner{
    height: 600px;
    width: 500px;
}

.col-md-4 .card:nth-child(1) .card-title{
    display:none;
   }
   
   .col-md-4 .card:nth-child(3) .card-title{
    display:none;
   }

.col-md-4 .card img{
width:100% !important;
}


.carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-12 .row .col-md-4 .card .card-body .card-text{
    width:54% !important;
   }
   
  
   .col-md-4 .card .card-text{
    min-height:31px;
    transform:translatex(-10px) translatey(-9px);
    padding-top:0px;
   }
   

   .col-md-4 .card .card-body{
    height:41px !important;
   }
   
   .col-md-8 .card img{
    width:100% !important;
   }
   

   
.col-md-8 .card h5{
    font-size:16px;
   }
   

   .col-md-8 .card p{
    font-size:12px;
   }
   

.col-md-8 .card .card-body{
    min-height:103px;
   }
   
.col-md-8 .card .card-body{
    background-size:auto;
    transform:translatex(0px) translatey(0px);
    background-position-y:100%;
}

#offerCarousel .carousel-item .container-fluid{
    padding-top:0px;
    padding-left:0px;
   }
   

   #offerCarousel .carousel-inner{
    width:100%;
   }

#offerCarousel .col-md-8{
    max-width:800px;
   }
   
   @media (min-width:768px){
   
 
    #offerCarousel .col-md-8{
     width:318px;
    }
    
   }

#offerCarousel .col-md-8{
    transform:translatex(0px) translatey(0px);
   }
   
   #offerCarousel .col-md-6{
    display:flex;
   }
   
   @media (min-width:768px){
   

    #offerCarousel .col-md-8{
     width:703px !important;
    }
    
   }

#offerCarousel .col-md-8{
    display:flex;
   }
   

   #offerCarousel .carousel-inner{
    width:222% !important;
   }
   
   @media (min-width:768px){
   

    app-root app-carousel .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6{
     width:47% !important;
    }
    
 
    #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8{
     width:697px !important;
    }
    
   }


.carousel-item .row{
    width:1060px;
    transform:translatex(0px) translatey(0px);
   }
   

.carousel-item .col-md-8{
 transform:translatex(0px) translatey(0px);
}


.carousel-item .col-md-4{
 transform:translatex(-62px) translatey(0px);
 max-width:324px;
}

@media (min-width:768px){


 .carousel-item .col-md-6{
  width:317px;
 }

  .carousel-item .col-md-4{
  width:313px;
 }
 
}   


.container-fluid .row .col-md-8 .col-md-6 .card{
    box-shadow:0px 0px 4px 0px #000000;
   }
   

   .carousel-item .container-fluid .row .col-md-4 .card{
    box-shadow:0px 0px 4px 0px #000000;
   }
   
.container-fluid .row .col-md-8 .col-md-6 .card{
    box-shadow:0px 0px 4px 0px #000000;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
   }
   

   .carousel-item .container-fluid .row .col-md-4 .card{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
   }

.container-fluid .row .col-md-8 .col-md-6 .card{
    border-width:0px;
   }
   

   .carousel-item .container-fluid .row .col-md-4 .card{
    border-width:0px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-style:none;
   }
   

   #offerCarousel .carousel-inner{
    border-width:0px;
   }
   

   #daily{
    border-width:0px;
   }
   

#offerCarousel .carousel-inner{
    font-weight:300;
   }

   .col-md-8 .col-md-6 .card .card-body .card-title{
    font-weight:300;
    font-family:Motiva Sans, sans-serif !important;
    font-size:14px !important;
   }

   .col-md-8 .col-md-6 .card .card-body .card-text{
    position:relative;
    top:5px;
    font-family:Motiva Sans, sans-serif;
   }
   

.container-fluid .row .col-md-4 .card .card-img-top{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
   }
   

   #offerCarousel .carousel-inner{
    transform:translatex(0px) translatey(0px);
   }
   
   #offerCarousel .carousel-item .container-fluid .row{
    border-width:0px;
   }

   

.card-body > div{
    display:inline-flex;
    width:246px;
    height:33px;
   }
   

   #offerCarousel .card-body div p{
    position:relative;
    top:-4px;
    margin-bottom:0px;
   }
   
   .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div{
    width:69px !important;
   }
   

   #offerCarousel .card-body div div{
    transform:translatex(0px) translatey(0px);
   }
   

   #offerCarousel .card-body div p{
    width:35px;
    left:22px;
    min-height:19px;
    top:-1px !important;
   }
   

   .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p{
    bottom:auto !important;
   }

#offerCarousel .carousel-inner{
    transform:translatex(0px) translatey(0px);
   }
   

   #offerCarousel .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p{
    top:-7px !important;
   }
   

   .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p{
    bottom:auto !important;
   }
   

   #offerCarousel .card-body div div{
    height:34px;
   }
   

   #offerCarousel div h4{
    position:relative;
    top:3px;
   }
   
   
#offerCarousel .card-body div p{
    width:45px !important;
   }
   

   #offerCarousel div p:nth-child(1){
    left:25px !important;
   }
   

.allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p:nth-child(1){
    top:0px !important;
    bottom:auto !important;
   }
      


#offerCarousel .card-body div p:nth-child(2){
    left:18px !important;
   }
   

   .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p:nth-child(2){
    right:auto !important;
   }
   

   #offerCarousel .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p:nth-child(1){
    left:21px !important;
   }
   

   .allContainer .carouselContainer app-offer-cards #offerCarouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6 .card .card-body div div p:nth-child(1){
    right:auto !important;
   }
   

.container-fluid .row .col-md-4 .card .card-body{
    min-height:53px;
   }
 
   .row .col-md-4 .card .card-body .card-text{
    position:relative;
    top:6px;
   }


.allContainer .carouselContainer app-offer-cards #carouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-4 .card #daily .card-text{
    font-family:Arial, sans-serif !important;
   }
   
   
   #daily .card-text{
    font-family:Arial, sans-serif;
   }
   
 
#offerCarousel .carousel-item:nth-child(3) .col-md-4{
    position:relative;
   }
   
   
   app-root app-store .container-fluid .row .contentcenter app-carousel .allContainer .carouselContainer app-offer-cards #carouselcenter #offerCarousel .carousel-inner .carousel-item:nth-child(3) .col-md-4{
    left:62px !important;
   }
   

   
#offerCarousel .carousel-item .col-md-4 .card{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
   }
   
  
   #offerCarousel .card .card-img-top{
    border-top-right-radius:0px;
    border-top-left-radius:0px;
   }


#offerCarousel .carousel-item .col-md-4 .card{
    border-width:0px;
   }
   
 
#offerCarousel .carousel-item{
 display:flex;
 margin-left:0px;
 width:945px !important;
}


#offerCarousel .carousel-item .col-md-4 .card{
    height:203px;
   }
   
 
   #daily .card-text{
    position:relative;
    top:6px;
   }
   

#offerCarousel .carousel-item .container-fluid .row .col-md-4{
    padding-left:4px;
   }   

   
.carousel-item .container-fluid .row .col-md-4 .card .card-body{
    background-position-y:100% !important;
   }
   

   
#offerCarousel .carousel-item .col-md-4 .card .card-body{
    background-position-y:100%;
   }
   
   
.carousel-item .container-fluid .row .col-md-4 .card{
    width:306px !important;
   }
   
   
   #offerCarousel .carousel-item .col-md-4 .card{
    width:306px !important;
   }

   
.container-fluid .row .col-md-8 .col-md-6 .card{
    min-height:426px;
    width:306px !important;
    height:426px;
   }
   
   
   .carousel-item .container-fluid .row .col-md-4 .card{
    transform:translatex(0px) translatey(0px);
    top:-4px;
   }
   
   
   .carousel-item:nth-child(2) .container-fluid .row .col-md-4 .card:nth-child(1){
    top:0px;
   }
   
   
.carousel-item:nth-child(1) .container-fluid .row .col-md-4 .card:nth-child(1){
    top:1px !important;
   }
   
   
   app-root app-store .container-fluid .row .contentcenter app-carousel .allContainer .carouselContainer app-offer-cards #carouselcenter #offerCarousel .carousel-inner .carousel-item:nth-child(1) .container-fluid .row .col-md-4 .card:nth-child(1){
    bottom:auto !important;
   }
   
   
   
#daily > div{
    position:relative;
    top:-52px;
    left:150px;
   }
   
   
   #daily .card-body{
    transform:translatex(-149px) translatey(52px);
    left:149px;
   }
   

.allContainer .carouselContainer app-offer-cards #carouselcenter #offerCarousel .carousel-inner .carousel-item .container-fluid .row .col-md-4 .card #daily div div p{
    top:-7px !important;
    bottom:auto !important;
   }
   
   
#offerCarousel .carousel-item .col-md-4{
    left:63px;
   }
   
   @media (min-width:768px){
   
   
    #offerCarousel .carousel-item .col-md-4{
     width:316px;
    }
    
   }

   
#offerCarousel .col-md-4:nth-child(1) .card:nth-child(3){
    top:-3px;
   }
   
  
   #offerCarousel .carousel-item:nth-child(3) .col-md-4:nth-child(2) .card:nth-child(3){
    top:-3px;
   }
   
   
   #offerCarousel .col-md-4:nth-child(3) .card:nth-child(3){
    top:-3px;
   }

#offerCarousel .carousel-indicators button{
    width:15px;
    height:9px;
    border-width: 1px;
    border-radius: 2px;
    background-color: #606974;
   }
   

#offerCarousel .carousel-indicators{
    top:541px;
    bottom:auto !important;
   }
   
    */