.bigCard{
    width: 23.28vw;
    height: 24.64vw;
    position: relative;
    top: 13.1%;
}
.bigCardBody{  
    width: 23.28vw;
    height: 2.16vw;
    background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
    background-image: linear-gradient(135deg, rgb(37, 49, 63) 5%, rgb(54, 97, 125) 95%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: white;
    position: relative;
    bottom: 1.1vw;
    right: 1.1vw;
}

.bigFinalPrice{    
    color: #BEEE11;
    line-height: 1.07vw;
    font-size: 1.00vw;
     line-height: 1.00vw;
    height: 3.62vw;
    padding: 0.27vw;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: relative;
    top: 13%;
}

.finalPrice{    
    color: white;
    line-height: 1.07vw;
    font-size: 1.00vw;
     line-height: 1.00vw;
    height: 3.62vw;
    padding: 1.00vw;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: relative;
    bottom: 5%;
}

.smallCard{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    top: -195.4%;
}

.smallCard2{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    top: -195.4%;
}

.smallCard3{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    top: -195.4%;
}

.smallCard4{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    
}

.smallCard5{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    
}

.smallCard6{
    width: 10.57vw;
    height: 11.17vw;
    display: inline-block;
    margin: 0.33vw;
    
}


.cardBody{  
    width: 10.62vw;
    height: 2.9vw;
    background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
    background-image: linear-gradient(135deg, rgb(37, 49, 63) 5%, rgb(54, 97, 125) 95%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: white;
    position: relative;
    bottom: 1.1vw;
    right: 1.16vw;
}
