<div class="container-fluid p-0 mt-1 d-block">
    <div class="row">

        <div class="col-12">
            <!-- Big Card -->
            <div class="bigCard">
                <mat-card class="bigCard">
                    <img mat-card-image
                        src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/2389138548384079458/0/55f070049aaa0ddd63d9226b5a86f3f63f660eec.jpg?t=1706550103"
                        alt="Alt Photo 1">
                    <mat-card-content class="bigCardBody">
                        <p class="bigFinalPrice">ALTRE INFORMAZIONI</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Small Card -->
            <div class="smallCards">
                <div class="TopRow">
                    <mat-card class="smallCard">
                        <img mat-card-image
                            src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/124377938316488828/3/28954fe142163fd69dedb1b65b3aaa4e6d50b6c6.jpg?t=1706306858"
                            alt="Alt Game Photo">
                        <mat-card-content class="cardBody">
                            <p class="finalPrice">Free-to-Play</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="smallCard2">
                        <img mat-card-image
                            src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/4350440314200155732/3/be3065f6c33b610f43e59695c5cfbd96e105cef2.jpg?t=1706294030"
                            alt="Alt Game Photo">
                        <mat-card-content class="cardBody">
                            <p class="finalPrice">13,39€</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="smallCard3">
                        <img mat-card-image
                            src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/3622314391986386778/3/648d9d762f7364ffb80369537f0e9c45e39ad91b.jpg?t=1706228256"
                            alt="Alt Game Photo">
                        <mat-card-content class="cardBody">
                            <p class="finalPrice">23,99€</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <mat-card class="smallCard4">
                <img mat-card-image
                    src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/261484378964487921/3/c308ff1833a164eac25dfda31d193234c121d912.jpg?t=1706661185"
                    alt="Alt Game Photo">
                <mat-card-content class="cardBody">
                    <p class="finalPrice">16,79€</p>
                </mat-card-content>
            </mat-card>
            <mat-card class="smallCard5">
                <img mat-card-image
                    src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/845967687305668607/3/fc8d5ca061cdc70e244f99b7773b1c1118c6d061.jpg?t=1707170098"
                    alt="Alt Game Photo">
                <mat-card-content class="cardBody">
                    <p class="finalPrice"></p>
                </mat-card-content>
            </mat-card>
            <mat-card class="smallCard6">
                <img mat-card-image
                    src="https://shared.cloudflare.steamstatic.com/store_item_assets/mm/3834931147185878210/3/c96fbdb475b9a963646400267e9be822a0ff85ce.jpg?t=1706228641"
                    alt="Alt Game Photo">
                <mat-card-content class="cardBody">
                    <p class="finalPrice">69,99€</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>