<div class="container-fluid p-0 d-block">
    <div class="row">
        <p class="updateTitle">AGGIORNAMENTI E OFFERTE</p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let page of pages; let i = index" class="carousel-item"
                    [class.active]="currentIndex === i">
                    <div class="d-flex flex-wrap justify-content-center">
                        <div *ngFor="let card of getCardsForPage(i)" class="card square-card">
                            <img [src]="card.images[0]?.image_path" class="img-fluid">
                            <div class="card-body">
                                <span class="test1">
                                    <div
                                        class="col-2 p-0 d-flex justify-content-center align-items-center discountPercentage">
                                        <h3 class="m-0" *ngIf="card.discounted_percentage != null">
                                            {{ card.discounted_percentage }}%
                                        </h3>
                                    </div>
                                    <div class="col-2 d-flex justify-content-center price">
                                        <span class="free" *ngIf="card.base_price == 0">Free to Play</span>
                                        <div>
                                            <div class="d-flex justify-content-end">
                                                <span class="basePriceDiscount"
                                                    *ngIf="card.discounted_price != null && card.base_price > 0">
                                                    {{ card.base_price.toFixed(2) + "$" }}
                                                </span>
                                            </div>
                                            <div>
                                                <span class="discount" *ngIf="card.discounted_price != null">
                                                    {{ card.discounted_price.toFixed(2) + "$" }}
                                                </span>
                                                <span class="basePrice"
                                                    *ngIf="card.discounted_price == null && card.base_price > 0">
                                                    {{ card.base_price.toFixed(2) + "$" }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid p-0">
    <div class="row">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                     <div class="container text">

                        </div> 
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                  <div class="container text">
            
                                    </div> 
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                  <div class="container text">
            
                                    </div> 
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                    <div class="container text">
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                    <div class="container text">

                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img class="img"
                        src="https://web.archive.org/web/20240313111837im_/https://cdn.akamai.steamstatic.com/steam/spotlights/222fcf1735e29bb17fe04e02/spotlight_image_english.jpg?t=1709744833">

                    <div class="container text">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->