.allCards {
    margin-top: 6rem;
}

.bigCard, .smallCard, .smallCard2, .smallCard3, .smallCard4, .smallCard5, .smallCard6 {
    border-radius: 0;
}

.bigCard {
    width: 21.6384rem;
    height: 22.8232rem;
    left: 4.375rem;
}

.bigCardBody {  
    width: 21.6384rem;
    height: 3.125rem;
    background: linear-gradient(135deg, rgba(37,49,63,1) 5%, rgba(54,97,125,1) 95%);
    color: white;
    position: relative;
    bottom: 1rem;
    right: 1rem;
}

.updateTitle {
    color: white;
    left: 4.3rem;
    line-height: 0.9951rem;
    font-size: 0.93rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    position: relative;
}

.bigFinalPrice {    
    color: #BEEE11;
    line-height: 0.9951rem;
    font-size: 0.93rem;
    height: 3.3616rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    top: 1rem;
    right: 0.8125rem;
}

.finalPrice {    
    color: white;
    line-height: 0.9951rem;
    font-size: 0.93rem;
    height: 3.3616rem;
    padding: 0.93rem;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    bottom: 5%;
}

.smallCards {
    position: relative;
    left: 26.3rem;
    bottom: 22.8rem;
}

.smallCard {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    margin-right: 0.25rem;
}

.smallCard2 {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    margin-right: 0.25rem;
    bottom: 10.4rem;
    left: 10rem;
}

.smallCard3 {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    display: inline-block;
    bottom: 20.77rem;
    left: 20rem;
}

.lowCards {
    position: relative;
    left: 0.8rem;
    bottom: 20.8rem;
}

.smallCard4 {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    margin-right: 0.15rem;
    bottom: 0.1875rem;
}

.smallCard5 {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    margin-right: 0.15rem;
    bottom: 0.1875rem;
}

.smallCard6 {
    width: 9.8355rem;
    height: 10.3727rem;
    position: relative;
    bottom: 0.1875rem;
}

.cardBody {  
    width: 9.8601rem;
    height: 2.5rem;
    background: linear-gradient(135deg, rgba(37,49,63,1) 5%, rgba(54,97,125,1) 95%);
    color: white;
    position: relative;
    bottom: 1.023rem;
    right: 1rem;
}

#allCardsContainer{
    height: 430px;
}