<div class="flex-shrink-0 p-4 sidebar_main" style="width: 280px; height: 100vh;">
  <div>
    <div class="sidebar_header pad"> BROWSE CATEGORIES </div>
    <div class="collapse show" id="home-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal">

        <li> <a routerLink="#" class="sidebar_item"> Best Sellers </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> New Releases </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> Incoming </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> Special </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> VR Titles </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> Controller Compatibility
          </a> </li>
        <li> <a routerLink="#" class="sidebar_item"> Perfect for the Deck
          </a> </li>

      </ul>
    </div>
  </div>
  <div>
    <div class="sidebar_header pad">HARDWARE</div>

    <ul class="btn-toggle-nav list-unstyled fw-normal">

      <li> <a routerLink="#" class="sidebar_item"> Steam Deck </a> </li>
      <li> <a routerLink="#" class="sidebar_item"> Dock di Steam Deck </a>
      </li>
      <li> <a routerLink="#" class="sidebar_item"> Hardware VR </a> </li>

    </ul>
  </div>
  <div>
    <div class="home_page_gutter_block">
      <div class="sidebar_header pad"> BROWSE BY GENRE </div>
      <div>
        <ul class="btn-toggle-nav list-unstyled fw-normal">

          <li> <a routerLink="#" class="sidebar_item"> Free-to-Play
            </a> </li>
          <li> <a routerLink="#" class="sidebar_item"> Adventure </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Action </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Corsican </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> GDR </a> </li>
          <li> <a routerLink="#" class="sidebar_item"> Indie </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Massively
              Multiplayer
            </a> </li>
          <li> <a routerLink="#" class="sidebar_item"> Pastime </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Simulation </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Sport </a>
          </li>
          <li> <a routerLink="#" class="sidebar_item"> Strategy </a>
          </li>

        </ul>
      </div>
    </div>
  </div>