<div class="container">
  <div class="d-flex flex-column">

    <div class="col p-0 m-0">
      <img src="https://cdn.cloudflare.steamstatic.com/store/steamdeck/steamdeck_promo_04.png?v=2 alt=" routerLink="/steam-deck">
      <div class="hover"> <span class="heading" routerLink="/steam-deck"> Steam Deck </span>
      <ul class="list-unstyled">

        <li> <a class="item"> Your Games, Everywhere </a> </li>

      </ul>
    </div>
    </div>

    <div class="col p-0 m-0 mb-3 mt-2">
      <img src="https://store.cloudflare.steamstatic.com/public/images//gift/steamcards_promo_03.png?v=1">
      <div> <span class="heading"> Steam gift cards </span> </div>
      <ul class="list-unstyled">

        <li> <a class="item"> Give the Gift of Game </a> </li>

      </ul>
    </div>

    <div class="col p-0 m-0">
      <div> <span class="header"> RECCOMENDED </span> </div>
      <ul class="list-unstyled">

        <li> <a class="item"> Give friends </a> </li>
        <li> <a class="item"> From the curators </a> </li>
        <li> <a class="item"> Labels </a> </li>

      </ul>
    </div>

    <div class="col p-0 m-0">
      <div> <span class="header"> BROWSE CATEGORIES </span> </div>
      <ul class=" list-unstyled">

        <li> <a class="item"> Best Sellers </a> </li>
        <li> <a class="item"> New Releases </a> </li>
        <li> <a class="item"> Incoming </a> </li>
        <li> <a class="item"> Special </a> </li>
        <li> <a class="item"> VR Titles </a> </li>
        <li> <a class="item"> Controller Compatibility </a> </li>
        <li> <a class="item"> Perfect for the Deck </a> </li>

      </ul>
    </div>

    <div class="col p-0 m-0">
      <div class="header"> <span> HARDWARE </span> </div>
      <ul class="list-unstyled">

        <li> <a class="item" routerLink="/steam-deck"> Steam Deck </a> </li>
        <li> <a class="item"> Dock di Steam Deck </a> </li>
        <li> <a class="item"> Hardware VR </a> </li>

      </ul>
    </div>

    <div class="col p-0 m-0 tags-section">
      <div> <span class="header"> BROWSE BY GENRE </span> </div>
      <ul class=" list-unstyled">

        <li *ngFor="let item of genre"> <a class="item" (click)="goTo('../games/' + item.name.toLowerCase())"> {{item.name}} </a> </li>

      </ul>
    </div>

  </div>
</div>

<!-- <div class="container-fluid p-0 m-0 min-vh-100 d-block">
  <div class="flex-shrink-0 p-4">

    <div class="col-auto p-0 m-0">


    <div class="col-auto p-0 m-0">
      <div class="header"> <span> HARDWARE </span> </div>
      <ul class="list-unstyled">

        <li> <a class="item"> Steam Deck </a> </li>
        <li> <a class="item"> Dock di Steam Deck </a> </li>
        <li> <a class="item"> Hardware VR </a> </li>

      </ul>
    </div>

    <div class="col-auto p-0 m-0">
      <div> <span class="header"> BROWSE BY GENRE </span> </div>
      <ul class=" list-unstyled">

        <li> <a class="item"> Free-to-Play </a> </li>
        <li> <a class="item"> Adventure </a> </li>
        <li> <a class="item"> Action </a> </li>
        <li> <a class="item"> Corsican </a> </li>
        <li> <a class="item"> GDR </a> </li>
        <li> <a class="item"> Indie </a> </li>
        <li> <a class="item"> Massively Multiplayer </a> </li>
        <li> <a class="item"> Pastime </a> </li>
        <li> <a class="item"> Simulation </a> </li>
        <li> <a class="item"> Sport </a> </li>
        <li> <a class="item"> Strategy </a> </li>

      </ul>
    </div>

  </div>
</div> -->
