a.sidebar_item {
  display: block;
  color: #7A8B9D;
  font-size: 14px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-weight: 550;
}

.sidebar_header {
  color: #536f86;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
  color: #66c0f4;
}

div.sidebar_main {
  background-color: #1b2838;
  height: 100vh;
}