.carouselContainer {
    position: relative;
    margin: 45px;
    width: fit-content;
}

.allContainer{
    position: relative;
    width: 800px;
    margin-left:346px !important;
    transform:translatex(0px) translatey(0px);
}

.carousel-control-prev{
    position: absolute;
    top: 50%;  /* Centra i pulsanti verticalmente */
    transform: translateY(-50%);
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

.carousel-control-prev:hover{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0));
}

.carousel-control-next:hover{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0));
}

.carousel-control-next {
    position: absolute;
    top: 50%;  /* Centra i pulsanti verticalmente */
    transform: translateY(-50%);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(0, 0, 0));
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        /* Modifica la posizione per schermi più piccoli */
        top: auto;
        bottom: 10px;  /* Sposta i pulsanti più in basso */
    }

    .carousel-control-prev {
        left: 5px;  /* Riduci la distanza dal bordo sinistro */
    }

    .carousel-control-next {
        right: 5px;  /* Riduci la distanza dal bordo destro */
    }
}


/* git */
.card-img-top{
    height: 128px;
    width: 128px;
}

#carousel .col-md-8{
    padding-left:0px;
    max-width:307px;
   }
   
   @media (min-width:768px){
   
    /* Column 8/12 */
#carousel .col-md-8{
width:307px;
}
    
   }

.col-md-4 .card img{
width:100% !important;
}
   