.carouselContainer {
    position: relative;
    margin: 45px;
    width: fit-content;
}

.allContainer{
    position: relative;
    width: 590px;
    margin-left: 500px;
}

.carousel-control-prev{
    position: absolute;
    top: 50%;  /* Centra i pulsanti verticalmente */
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

.carousel-control-next {
    position: absolute;
    top: 50%;  /* Centra i pulsanti verticalmente */
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        /* Modifica la posizione per schermi più piccoli */
        top: auto;
        bottom: 10px;  /* Sposta i pulsanti più in basso */
    }

    .carousel-control-prev {
        left: 5px;  /* Riduci la distanza dal bordo sinistro */
    }

    .carousel-control-next {
        right: 5px;  /* Riduci la distanza dal bordo destro */
    }
}


/* git */
.card-img-top{
    height: 128px;
    width: 128px;
}

