<div class="container-fluid p-0 mt-5">
    <div class="row border-top border-1 border-black">
        <div class="col p-0 ">
            <span class="titles"> Customer reviews </span>
        </div>
    </div>

    <div class="container p-0">
        <div class="row mt-2">

            <div class="col-8 p-0">
                <div class="card one">

                    <div class="container p-0">
                        <div class="row px-2 pt-2">
                            <div class="col">
                                <span class="textOne"> Overall Reviews </span>
                            </div>
                        </div>

                        <div class="row px-2 py-1">
                            <div class="col">
                                <span class="evaluation"> {{game.evaluation}} </span>
                                <span class="numberEvaluation"> ({{game.positive + game.negative}}) </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4 p-0">
                <div class="card two">

                    <div class="row px-2 pt-2">
                        <div class="col">
                            <span class="textOne"> Overall Reviews </span>
                        </div>
                    </div>

                    <div class="row px-2 py-1">
                        <div class="col">
                            <span class="evaluation"> {{game.evaluation}} </span>
                            <span class="numberEvaluation"> ({{game.positive + game.negative}}) </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <div class="container p-0">
        <div class="row border-top border-1 border-black mt-5 mb-2">
            <div class="col-8 p-0">
                <div class="mt-3 mb-2">
                    <span class="titles"> Most Helpful Reviews </span>
                </div>
                <div class="card reviews mb-4" *ngFor="let item of game.reviews.slice(0, 15)">
                    <div class="container pt-1">
                        <div class="row">
                            <div class="col-5">
                                <div class="container p-0">
                                    <div class="row">

                                        <div class="col-3">

                                            <span> </span>

                                        </div>

                                        <div class="col-7">

                                            <p class="username m-0"> {{item.user.username}}</p>
                                            <p class="numberProduct m-0"> 218 products in account </p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-7 p-0">
                                <div class="container p-0">
                                    <div class="row review me-1">
                                        <div class="col-1 p-0" *ngIf="item.is_recommended == 1">
                                            <img src="../../../../assets/image/review/icon_thumbsUp_v6.png">
                                        </div>

                                        <div class="col-1 p-0" *ngIf="item.is_recommended == 0">
                                            <img src="../../../../assets/image/review/icon_thumbsDown_v6.png">
                                        </div>

                                        <div class="col-11">
                                            <p class="m-0 ps-1 recommended" *ngIf="item.is_recommended == 1"> Is
                                                Recommended
                                            </p>
                                            <p class="m-0 ps-1 recommended" *ngIf="item.is_recommended == 0"> Not
                                                Recommended
                                            </p>

                                            <div>
                                                <p class="m-0 ps-1 hours"> {{item.hours_played}} on record </p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="my-2">
                                        <p class="posted p-0 m-0"> Posted {{ item.date | date:'dd MMM, yyyy' }} </p>
                                    </div>


                                    <div>
                                        <p class="descriptionReview p-0"> {{ item.description}} </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 pe-0">
                <div class="container p-0">
                    <div class="mt-3 mb-2">
                        <span class="titles"> Recently Posted </span>
                    </div>

                    <div class="mb-3" *ngFor="let item of game.reviews.slice(0, 15)">
                        <div class="card reviewsSm">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1 p-0" *ngIf="item.is_recommended == 1">
                                        <img src="../../../../assets/image/review/icon_thumbsUp_v6.png"
                                            class="img-fluid">
                                    </div>

                                    <div class="col-1 p-0" *ngIf="item.is_recommended == 0">
                                        <img src="../../../../assets/image/review/icon_thumbsDown_v6.png"
                                            class="img-fluid">
                                    </div>
                                    <div class="col-7">
                                        <span class="username"> {{item.user.username}} </span>
                                    </div>
                                    <div class="col-3">
                                        <span class="hours"> {{item.hours_played}} hrs </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>