<div class="container-fluid my-5 d-block p-0">
    <div class="row">
        <div class="col-1">

        </div>

        <div class="col-10 border-top border-1 border-black p-0">

            <div class="mt-2">
                <span class="titles"> Customer reviews </span>
            </div>

            <div class="row">

                <div class="col-8 p-0">
                    <div class="card">
dddd
                    </div>
                </div>

                <div class="col-4 p-0">
                    <div class="card">
dddd
                    </div>
                </div>

            </div>
        </div>

        <div class="col-1">

        </div>
    </div>
</div>