<div class="container d-block p-0 mt-5 review-container">
    <div class="d-flex flex-wrap w-100 header">

        <div class="col section">
            <div class="container p-0 deals-container">
                <div class="d-flex flex-column header">

                    <div class="col p-0 mt-1 border-top border-1 border-black mt-5 section">
                        <span class="caption"> Customer reviews </span>
                    </div>

                    <div class="col section">
                        <div class="container p-0 mt-2 card-container">
                            <div class="d-flex flex-wrap header">

                                <div class="col-8 p-0 section">
                                    <div class="container p-0 info-container">
                                        <div class="d-flex flex-column header">

                                            <div class="col ps-2 pt-2 section">
                                                <p class="caption"> Overall Reviews: </p>
                                            </div>


                                            <div class="col ps-2 pb-2 pt-1 section">
                                                <span class="text"> {{game.evaluation}} </span>
                                                <span class="number"> ({{game.positive +
                                                    game.negative}})
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-4 p-0 section">
                                    <div class="container p-0 info-container">
                                        <div class="d-flex flex-column header">

                                            <div class="col ps-2 pt-2 section">
                                                <p class="caption"> Recent Reviews: </p>
                                            </div>


                                            <div class="col ps-2 pb-2 pt-1 section">
                                                <span class="text"> {{game.evaluation}} </span>
                                                <span class="number"> ({{game.positive +
                                                    game.negative}})
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col section">
                        <div class="container p-0 mt-3 card-container">
                            <div class="d-flex flex-wrap border-top border-1 border-black mt-5 header">

                                <div class="col-8 section">
                                    <div class="container p-0 content-container">
                                        <div class="d-flex flex-column header">

                                            <div class="col pt-3 pb-2 section">
                                                <span class="caption"> Most Helpful Reviews </span>
                                            </div>

                                            <div class="col section">
                                                <div class="container mb-3 p-0 card-deals-container"
                                                    *ngFor="let item of game.reviews.slice(0, 15)">
                                                    <div class="d-flex flex-wrap header">


                                                        <div class="col-5 section">
                                                            <div class="container text-container">
                                                                <div class="d-flex flex-wrap header">

                                                                    <div class="col-3 section">
                                                                        <span> </span>
                                                                    </div>

                                                                    <div class="col-7 section">
                                                                        <p class="m-0 text">
                                                                            {{item.user.username}}
                                                                        </p>
                                                                        <p class="m-0 number-text"> 218 products
                                                                            in
                                                                            account
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-7 -col-7-section">
                                                            <div class="container p-0 py-1 text-container">
                                                                <div class="d-flex flex-column me-1 text-header">

                                                                    <div class="d-flex flex-row text-recomended-header">
                                                                        <div class="col-2"
                                                                            *ngIf="item.is_recommended == 1">
                                                                            <img src="../../../../assets/image/review/icon_thumbsUp_v6.png"
                                                                                class="image">
                                                                        </div>

                                                                        <div class="col-2"
                                                                            *ngIf="item.is_recommended == 0">
                                                                            <img src="../../../../assets/image/review/icon_thumbsDown_v6.png"
                                                                                class="image">
                                                                        </div>

                                                                        <div class="col-10">
                                                                            <p class="m-0 ps-1 recommended label"
                                                                                *ngIf="item.is_recommended == 1"> Is
                                                                                Recommended
                                                                            </p>
                                                                            <p class="m-0 ps-1 recommended review-label"
                                                                                *ngIf="item.is_recommended == 0"> Not
                                                                                Recommended
                                                                            </p>

                                                                            <div>
                                                                                <p class="m-0 ps-1 review-text">
                                                                                    {{item.hours_played}}
                                                                                    hrs
                                                                                    on
                                                                                    record </p>
                                                                            </div>

                                                                        </div>
                                                                    </div>

                                                                    <div class="d-flex flex-xl-column pb-2">
                                                                        <div class="col">
                                                                            <p class="posted p-0 m-0 review-date">
                                                                                Posted {{
                                                                                item.date | date:'dd MMM, yyyy' }} </p>
                                                                        </div>


                                                                        <div class="col">
                                                                            <p class="review-content p-0"> {{
                                                                                item.description}}
                                                                            </p>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-4 section">

                                    <div class="container p-0">
                                        <div class="d-flex flex-wrap mb-2">
                                            <div class="col p-0 mt-3">
                                                <span class="titles"> Recently Posted </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container mb-3 p-0" *ngFor="let item of game.reviews.slice(0, 15)">
                                        <div class="d-flex flex-column">

                                            <div class="container">
                                                <div class="d-flex flex-wrap review">

                                                    <div class="col-1" *ngIf="item.is_recommended == 1">
                                                        <img src="../../../../assets/image/review/icon_thumbsUp_v6.png"
                                                            class="img-fluid">
                                                    </div>

                                                    <div class="col-1" *ngIf="item.is_recommended == 0">
                                                        <img src="../../../../assets/image/review/icon_thumbsDown_v6.png"
                                                            class="img-fluid">
                                                    </div>

                                                    <div class="col ps-1">
                                                        <span class="username m-0"> {{item.user.username}} </span>
                                                    </div>
                                                    <div class="col-5">
                                                        <span class="hours"> {{item.hours_played}} hrs </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container">
                                                <div class="d-flex flex-column recentReviews px-2">

                                                    <div class="col mt-1 mb-2">
                                                        <p class="posted p-0 m-0"> Posted {{ item.date | date:'dd MMM, yyyy' }}
                                                        </p>
                                                    </div>

                                                    <div class="col">
                                                        <p class="descriptionReview p-0"> {{ item.description}} </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</div>