/* nav.navbar {
    background-color: #171d25;
} */

a.menuitem {
    display: block;
    color: white;
    display: block;
    padding-left: 0.4375rem;
    /* 7px / 16px = 0.4375rem */
    padding-right: 0.4375rem;
    /* 7px / 16px = 0.4375rem */
    padding-bottom: 0.4375rem;
    /* 7px / 16px = 0.4375rem */
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    /* 16px / 16px = 1rem */
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

a.menuitem_user {
    display: block;
    color: #ffffff;
    font-size: 0.6875rem;
    /* 11px / 16px = 0.6875rem */
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
}

a.installsteam:hover {
    background-color: #6c9018;
    transition-duration: 250ms;
    cursor: pointer;
}

.installsteam {
    background-position: 0.625rem 0.3125rem;
    /* 10px / 16px = 0.625rem, 5px / 16px = 0.3125rem */
    background-repeat: no-repeat;
    background-color: #5c7e10;
}

a.submenuitem {
    text-decoration: none;
    text-transform: none;
    font-size: 0.625rem;
    /* 10px / 16px = 0.625rem */
    font-weight: 400;
    color: #dcdedf;
    padding: 0.375rem 0;
    /* 6px / 16px = 0.375rem */
    padding-right: 0.9375rem;
    /* 15px / 16px = 0.9375rem */
    padding-left: 0.9375rem;
    /* 15px / 16px = 0.9375rem */
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3d4450;
    min-width: 12rem;
    /* 140px / 16px = 8.75rem */
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #2c313a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.container-fluid {
    padding: 0;
}

div.top_information {
    padding-right: 10rem;
}

div.dropdown-content.menuitem_user {
    position: absolute;
    left: -70px;
}