<nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-md-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> <!-- <img src="#" height="44px" width="176px"> --> </a> <!--logo di steam-->
                </li>
                <li class="nav-item">
                    <div class="dropdown">  
                        <a class="dropbtn nav-link menuitem" routerLink="#"> Shop </a>
                        <div class="dropdown-content">
                            <a class="submenuitem" routerLink="#"> Main Page </a>
                            <a class="submenuitem" routerLink="#"> List of discoveries </a>
                            <a class="submenuitem" routerLink="#"> Wishlist </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropbtn nav-link menuitem" routerLink="#"> Community </a>
                        <div class="dropdown-content">
                            <a class="submenuitem" routerLink="#"> Home </a>
                            <a class="submenuitem" routerLink="#"> WorkShop </a>
                        </div>
                    </div>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> {{user}} </a> qui dovrà comparire il pulsante per lo user e il nome sara in base al nickname
                    durante il login
                </li> -->
                <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> Information </a> <!--al momento del login information si dovra trasformare in chat-->
                </li>
                <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#">  Assistance </a>
                </li>
            </ul>
        </div>
    </div>
</nav>