<div class="container-fluid">
    <nav class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
        <div class="collapse navbar-collapse justify-content-md-center">
            <ul class="navbar-nav">

                <div>
                    <li class="nav-item">
                        <a class="nav-link menuitem_user" routerLink="#"> Install Steam </a>
                    </li>
                </div>

                <div>
                    <li class="nav-item">
                        <a class="nav-link menuitem_user" routerLink="#"> Login </a>
                    </li>
                </div>

                <div>
                    <li class="nav-item">
                        <a class="nav-link menuitem_user" routerLink="#"> Tongue </a>
                    </li>
                </div>

                <!-- <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> <img src="#" height="44px" width="176px"> </a> logo di steam
                </li> -->

                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropbtn nav-link menuitem" routerLink="#"> Shop </a>
                        <div class="dropdown-content">
                            <a class="submenuitem" routerLink="#"> Main Page </a>
                            <a class="submenuitem" routerLink="#"> List of discoveries </a>
                            <a class="submenuitem" routerLink="#"> Wishlist </a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropbtn nav-link menuitem" routerLink="#"> Community </a>
                        <div class="dropdown-content">
                            <a class="submenuitem" routerLink="#"> Home </a>
                            <a class="submenuitem" routerLink="#"> WorkShop </a>
                        </div>
                    </div>
                </li>

                <!--  <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> {{user}} </a> qui dovrà comparire il pulsante per lo user e il nome sara in base al nickname
                    durante il login
                </li>  -->

                <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> Information </a>
                    <!-- al momento del login information si dovra trasformare in chat -->
                </li>

                <li class="nav-item">
                    <a class="nav-link menuitem" routerLink="#"> Assistance </a>
                </li>

            </ul>
        </div>
    </nav>
</div>






































<!-- 
<div class="container-fluid">
    <div class="row"> -->

<!-- <div class="navitem_user">
            <div class="col-4">
                Install Steam
            </div>
            <div class="col-4">
                Login
            </div>
            <div class="col-4">
                Tongue
            </div>
        </div> -->

<!--         <div class="globalnavitem_information">
                <div class="col-3 navitem_information">
                    <li class="nav-item">
                        <div class="dropdown">  
                            <a class="dropbtn nav-link menuitem" routerLink="#"> Shop </a>
                            <div class="dropdown-content">
                                <a class="submenuitem" routerLink="#"> Main Page </a>
                                <a class="submenuitem" routerLink="#"> List of discoveries </a>
                                <a class="submenuitem" routerLink="#"> Wishlist </a>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="col-3 navitem_information">
                    Community
                </div>
                <div class="col-3 navitem_information">
                    Information
                </div>
                <div class="col-3 navitem_information">
                    Assistance
                </div>
        </div>
    </div>
</div> -->