/* 

.menuItem {
    color: white;
    display: block;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    padding-bottom: 0.4375rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1vw;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

a.menuItemUser {
    color: #ffffff;
    font-size: 0.7vw;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-weight: 500;
    padding-left: 1rem;
    cursor: pointer;
}

a.installSteam:hover {
    background-color: #6c9018;
    transition-duration: 250ms;
    cursor: pointer;
}

a.installSteam {
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    background-color: #5c7e10;
    transition-duration: 250ms;
    padding: 3%;
    padding-left: 15px;
    padding-right: 9px;
    cursor: pointer;
}

a.subMenuItem {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
    color: #dcdedf;
    padding: 0.375rem 0;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    display: block;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content.shop,
.dropdown-content.community,
.dropdown-content.language {
    display: none;
    position: absolute;
    left: 0;
    background-color: #3d4450;
    z-index: 1;
}

.dropdown-content.shop {
    min-width: 10vw;
}

.dropdown-content.community {
    min-width: 5rem;
}

.dropdown-content.language {
    min-width: 13vw;
}

.dropdown-content a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #2c313a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.container-fluid {
    padding: 0;
}

div.dropdown-content.menuItemUser {
    position: absolute;
    left: -70px;
}

div.left,
div.contentCenter,
div.right {
    background-color: #171d25;
}

div.left,
div.right {
    min-width: auto;
    width: 20%;
}

div.contentCenter {
    width: 60%;
}

li {
    display: inline-block;
}

ul.firstList {
    display: flex;
    justify-content: end;
    align-items: baseline;
    padding-top: 0.4rem;
}

ul.secondList {
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
} */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }