.carouselContainer {
    position: relative;
    top: 150px;
    margin: 100px;
}

.carousel-container {
    position: relative;
  }
  
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;  /* Centra i pulsanti verticalmente */
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
    padding: 36px 11px;
}

#bello{
    background-color: aquamarine;
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        /* Modifica la posizione per schermi più piccoli */
        top: auto;
        bottom: 10px;  /* Sposta i pulsanti più in basso */
    }

    .carousel-control-prev {
        left: 5px;  /* Riduci la distanza dal bordo sinistro */
    }

    .carousel-control-next {
        right: 5px;  /* Riduci la distanza dal bordo destro */
    }
}

// Dimensioni delle immagini della card
.card-img-top{
    height: 305px;
    width: 305px;
}

// Background della card (Colore blu)   
.card-body{
    background-image: url('https://images-ext-1.discordapp.net/external/7eB7l0xB29zq-Gj21I66XGmBVAdSW1MJ2O8jT3psHTc/https/store.akamai.steamstatic.com/public/images/v6/home/background_spotlight.jpg?format=webp');
}

#daily{
    background-color: #abdaf4;
}

.carousel-item{
    height: 400px;
    width: 500px;
    top: 100px;
    transition: opacity 0.5s;
}

.carousel-inner{
    height: 600px;
    width: 500px;
}

.col-md-4 .card:nth-child(1) .card-title{
    display:none;
   }
   
   .col-md-4 .card:nth-child(3) .card-title{
    display:none;
   }

.col-md-4 .card img{
width:100% !important;
}

/* Card text */
.carouselContainer app-offer-cards #carouselcenter #carousel .carousel-inner .carousel-item .container-fluid .row .col-md-12 .row .col-md-4 .card .card-body .card-text{
    width:54% !important;
   }
   
   /* Card text */
   .col-md-4 .card .card-text{
    min-height:31px;
    transform:translatex(-10px) translatey(-9px);
    padding-top:0px;
   }
   
   /* Card body */
   .col-md-4 .card .card-body{
    height:41px !important;
   }
   
   .col-md-8 .card img{
    width:100% !important;
   }
   

   /* Heading */
.col-md-8 .card h5{
    font-size:16px;
   }
   
   /* Paragraph */
   .col-md-8 .card p{
    font-size:12px;
   }
   
/* Card body */
.col-md-8 .card .card-body{
    min-height:103px;
   }
   
.col-md-8 .card .card-body{
    background-size:auto;
    transform:translatex(0px) translatey(0px);
    background-position-y:100%;
}

#carousel .carousel-item .container-fluid{
    padding-top:0px;
    padding-left:0px;
   }
   
   /* Carousel inner */
   #carousel .carousel-inner{
    width:100%;
   }
   
/* Column 8/12 */
#carousel .col-md-8{
    max-width:800px;
   }
   
   @media (min-width:768px){
   
    /* Column 8/12 */
    #carousel .col-md-8{
     width:318px;
    }
    
   }

   /* Column 8/12 */
#carousel .col-md-8{
    transform:translatex(0px) translatey(0px);
   }
   
   #carousel .col-md-6{
    display:flex;
   }
   
   @media (min-width:768px){
   
    /* Column 8/12 */
    #carousel .col-md-8{
     width:703px !important;
    }
    
   }

   /* Column 8/12 */
#carousel .col-md-8{
    display:flex;
   }
   
   /* Carousel inner */
   #carousel .carousel-inner{
    width:222% !important;
   }
   
   @media (min-width:768px){
   
    /* Column 6/12 */
    app-root app-carousel .allContainer .carouselContainer app-offer-cards #carouselcenter #carousel .carousel-inner .carousel-item .container-fluid .row .col-md-8 .col-md-6{
     width:47% !important;
    }
    
    /* Column 8/12 */
    #carouselcenter #carousel .carousel-inner .carousel-item .container-fluid .row .col-md-8{
     width:697px !important;
    }
    
   }

   /* Row */
.carousel-item .row{
    width:1060px;
    transform:translatex(0px) translatey(0px);
   }
   
/* Column 8/12 */
.carousel-item .col-md-8{
 transform:translatex(0px) translatey(0px);
}

/* Column 4/12 */
.carousel-item .col-md-4{
 transform:translatex(-62px) translatey(0px);
 max-width:324px;
}

@media (min-width:768px){

 /* Column 6/12 */
 .carousel-item .col-md-6{
  width:317px;
 }
 
 /* Column 4/12 */
 .carousel-item .col-md-4{
  width:313px;
 }
 
}   

/* Card */
.container-fluid .row .col-md-8 .col-md-6 .card{
    box-shadow:0px 0px 4px 0px #212529;
   }
   
   /* Card */
   .carousel-item .container-fluid .row .col-md-4 .card{
    box-shadow:0px 0px 4px 0px #212529;
   }
   
/* Card */
.container-fluid .row .col-md-8 .col-md-6 .card{
    box-shadow:0px 0px 4px 0px #212529;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
   }
   
   /* Card */
   .carousel-item .container-fluid .row .col-md-4 .card{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
   }
   
      