
    <div id="carouselcenter">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 800px;">
                <div class="carousel-item active" style="width:515px;">
                    <div class="container-fluid">
                        <div class="row">
                                    <!-- Inizio colonna sinistra -->
                                    <div class="col-md-8">

                                        <div class="col-md-6">
                                            <!-- Inizio singola card - Card 1 -->
                                        <div class="card" style="max-width: 306px;" id="regular">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                            <div class="card-body">
                                                <h5 class="card-title">AFFARE DEL FINE SETTIMANA</h5>
                                                <p class="card-text">L'offerta termina: 29 gen, ore 19:00.</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 1-->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card" style="width: 306px;">
                                                <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                                <div class="card-body">
                                                    <h5 class="card-title">AFFARE DEL FINE SETTIMANA</h5>
                                                    <p class="card-text">L'offerta termina: 29 gen, ore 19:00.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <!-- Fine colonna sinistra -->

                                    <!-- Inizio colonna destra -->
                                    <div class="col-md-4">
                                        <!-- Inizio singola card - Card 2 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 2 -->
                                        <br>
                                        <!-- Inizio singola card - Card 3 -->
                                        <div class="card" style="width: 300px;" id="daily">
                                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1089090/header.jpg?t=1704961171" class="card-img-top" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 3 -->
                                    </div>
                                    <!-- Fine colonna destra -->

                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item active" style="width:515px;">
                    <div class="container-fluid">
                        <div class="row">
                                    <!-- Inizio colonna sinistra -->
                                    <div class="col-md-8">

                                        <div class="col-md-6">
                                            <!-- Inizio singola card - Card 1 -->
                                        <div class="card" style="width: 306px;">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                            <div class="card-body">
                                                <h5 class="card-title">AFFARE DEL FINE SETTIMANA</h5>
                                                <p class="card-text">L'offerta termina: 29 gen, ore 19:00.</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 1-->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card" style="width: 306px;">
                                                <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                                <div class="card-body">
                                                    <h5 class="card-title">AFFARE DEL FINE SETTIMANA</h5>
                                                    <p class="card-text">L'offerta termina: 29 gen, ore 19:00.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <!-- Fine colonna sinistra -->

                                    <!-- Inizio colonna destra -->
                                    <div class="col-md-4">
                                        <!-- Inizio singola card - Card 2 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 2 -->
                                        <br>
                                        <!-- Inizio singola card - Card 3 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1089090/header.jpg?t=1704961171" class="card-img-top" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 3 -->
                                    </div>
                                    <!-- Fine colonna destra -->

                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="" class="card-img-top" alt="photo 3">
                        <div class="card-body">
                            <h5 class="card-title">Card 3</h5>
                            <p class="card-text">Some text for the third card.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>