
    <div id="carouselcenter">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 800px;">
                <div class="carousel-item active" style="width:515px;">
                    <div class="container-fluid">
                        <div class="row">
                                    <!-- Inizio colonna sinistra -->
                                    <div class="col-md-8">

                                        <div class="col-md-6">
                                            <!-- Inizio singola card - Card 1 -->
                                        <div class="card" style="max-width: 306px;" id="regular">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                            <div class="card-body">
                                                <h5 class="card-title" style="color: white;">AFFARE DEL FINE SETTIMANA</h5>
                                                <p class="card-text" style="color: #acdbf5;">L'offerta termina: 29 gen, ore 19:00.</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 1-->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card" style="width: 306px;">
                                                <img src="https://cdn.cloudflare.steamstatic.com/steam/spotlights/85e5aca6e8d33987f7f05b88/spotlight_image_english.jpg?t=1705523238" style="height: 305px; width: 305px;" alt="photo 2">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color: white;">AFFARE DEL FINE SETTIMANA</h5>
                                                    <p class="card-text" style="color: #acdbf5;">L'offerta termina: 29 gen, ore 19:00.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <!-- Fine colonna sinistra -->

                                    <!-- Inizio colonna destra -->
                                    <div class="col-md-4">
                                        <!-- Inizio singola card - Card 2 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1849900/header_292x136.jpg?t=1706103982" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title" style="color: white;">Card 2</h5>
                                                <p class="card-text" style="color: white;">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 2 -->
                                        <br>
                                        <!-- Inizio singola card - Card 3 -->
                                        <div class="card" style="width: 300px;" id="daily">
                                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1089090/header.jpg?t=1704961171" class="card-img-top" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" style="height: 60px;">
                                                <h5 class="card-title" style="color: white;">Card 2</h5>
                                                <p class="card-text" style="color: white;">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 3 -->
                                    </div>
                                    <!-- Fine colonna destra -->

                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item active" style="width:515px;">
                    <div class="container-fluid">
                        <div class="row">
                                    <!-- Inizio colonna sinistra -->
                                    <div class="col-md-8">

                                        <div class="col-md-6">
                                            <!-- Inizio singola card - Card 1 -->
                                        <div class="card" style="width: 306px;">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                            <div class="card-body">
                                                <h5 class="card-title" style="color: white;">AFFARE DEL FINE SETTIMANA</h5>
                                                <p class="card-text" style="color: #acdbf5;">L'offerta termina: 29 gen, ore 19:00.</p>
                                                <div>
                                                    <div style="background-color: #4c6b22; width:28% !important;">
                                                        <h4 style="text-align: center; color: #BEEE11;">-50%</h4>
                                                    </div>
                                                    <div style="background-color: #344654; width:66px !important;">
                                                        <p style="font-size: 11px; top:0px !important; bottom:auto !important; right:auto !important; color: #738895; text-decoration:line-through;">69,69€</p>
                                                        <p style="color: #BEEE11; font-size: 15px;">0,69€</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 1-->
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card" style="width: 306px;">
                                                <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 305px; width: 305px;" alt="photo 2">
                                                <div class="card-body">
                                                    <h5 class="card-title" style="color: white;">AFFARE DEL FINE SETTIMANA</h5>
                                                    <p class="card-text" style="color: #acdbf5;">L'offerta termina: 29 gen, ore 19:00.</p>
                                                    <div>
                                                        <div style="background-color: #4c6b22; width:28% !important;">
                                                            <h4 style="text-align: center; color: #BEEE11;">-50%</h4>
                                                        </div>
                                                        <div style="background-color: #344654; width:66px !important;">
                                                            <p style="font-size: 11px; top:0px !important; bottom:auto !important; right:auto !important; color: #738895; text-decoration:line-through;">69,69€</p>
                                                            <p style="color: #BEEE11; font-size: 15px;">0,69€</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    
                                    </div>
                                    <!-- Fine colonna sinistra -->

                                    <!-- Inizio colonna destra -->
                                    <div class="col-md-4">
                                        <!-- Inizio singola card - Card 2 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://sm.ign.com/ign_nordic/cover/f/forza-hori/forza-horizon-5_5jjv.jpg" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" id="daily" style="height: 60px;">
                                                <h5 class="card-title" style="color: white;">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 2 -->
                                        <br>
                                        <!-- Inizio singola card - Card 3 -->
                                        <div class="card" style="width: 300px;">
                                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1089090/header.jpg?t=1704961171" class="card-img-top" style="height: 150px; width: 300px;" alt="photo 2">
                                            <div class="card-body" id="daily" style="height: 60px;">
                                                <h5 class="card-title" style="color: white;">Card 2</h5>
                                                <p class="card-text">Affare del giorno!</p>
                                            </div>
                                        </div>
                                        <!-- Fine singola card - Card 3 -->
                                    </div>
                                    <!-- Fine colonna destra -->

                        </div>
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="" class="card-img-top" alt="photo 3">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white;">Card 3</h5>
                            <p class="card-text" style="color: white;">Some text for the third card.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>