.carouselContainer {
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.card-img-top{
    height: 128px;
    width: 128px;
}

.card-body{
    background-image: url('https://images-ext-1.discordapp.net/external/7eB7l0xB29zq-Gj21I66XGmBVAdSW1MJ2O8jT3psHTc/https/store.akamai.steamstatic.com/public/images/v6/home/background_spotlight.jpg?format=webp');
}

.carousel-item{
    height: 400px;
    width: 250px;
    left:250px;
    top: 155px

}

