.container-fluid {
    width: max-content;
}


@media only screen and (max-width: 62.5rem) {

    .col-2 {
        display: none !important;
    }

    app-body-navbar {
        display: none !important;
    }

    .container {
        width: max-content;
    }
}