@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.store-container {
    max-width: 100rem;
    min-height: 100vh;
    animation: fadeIn 3s ease forwards;
}

@media only screen and (max-width: 1320px) {

    .col-lg-2 {
        display: none !important;
    }

    app-body-navbar {
        display: none !important;
    }

    .header {
        width: max-content;
    }

    .container-fluid {
        width: max-content;
    }       
}