<!-- <div class="container-fluid p-0 d-block body">
    <div class="row w-100">
        <div class="col-12">
        </div>
    </div>


</div> -->
<div class="container-fluid p-0 m-0 min-vh-100">

    <div class="row p-0 w-100 d-flex justify-content-center">
        <div class="col-xs-2    col-sm-2	col-md-2	col-lg-2	col-xl-2	col-xxl-2   p-0 m-0">

            <app-sidebar> </app-sidebar>

        </div>
        <div class="col-xs-8    col-sm-8	col-md-8	col-lg-8	col-xl-8	col-xxl-8 pb-5">

            <app-main-carousel></app-main-carousel>
            <app-product-banners></app-product-banners>
            <app-offer-carousel> </app-offer-carousel>
            <app-updates-offer-cards> </app-updates-offer-cards>

        </div>
        <div class="col-xs-2    col-sm-2	col-md-2	col-lg-2	col-xl-2	col-xxl-2   p-0 m-0">



        </div>
    </div>
</div>

<!-- <div class="container-fluid body m-0 p-0">
    <img src="" width="100vw">
    <div class="container d-flex justify-content-center">
        <nav class="navbar navbar-expand">
            <div class="container">

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> Your Store </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> New & Noteworthy </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> Categrories </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> Point Shop </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> News </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="#"> Labs </a>
                        </li>

                    </ul>
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid p-0 m-0">
    <div class="row">

        <div class="sidebar">

            <app-sidebar> </app-sidebar>

        </div>

        <div class="contentcenter">

            <app-main-carousel></app-main-carousel>

            <app-product-banners></app-product-banners>

        </div>

        <div class="right">
        </div>

            content left 
		</div>
	</div>
</div> -->