<div class="container-fluid px-0">
    <div class="d-flex flex-wrap">

        <div class="col-2 d-flex justify-content-end">

            <app-sidebar> </app-sidebar>
            
        </div>

        <div class="col-8">

            <div class="container p-0">
                <div class="d-flex flex-wrap">
                    <div class="col">

                    </div>
                    <div class="col-11">
                        <app-body-navbar> </app-body-navbar>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
            </div>

            <div class="container p-0">
                <div class="d-flex flex-column">
                    <div class="col">
                        <app-offer-carousel></app-offer-carousel>
                    </div>
                    <div class="col">
                        <app-product-banners></app-product-banners>
                    </div>
                    <div class="col">
                        <app-category-carousel></app-category-carousel>
                    </div>
                    <div class="col">
                        <app-big-buttons></app-big-buttons>
                    </div>
                    <div class="col">
                        <app-game-table></app-game-table>
                    </div>
                    <div class="col">
                        <app-updates-offer-cards></app-updates-offer-cards>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            
        </div>
    </div>
</div>
