.mainHeader{
    height: 175vh;
    width: 9463213123vh;
    display: flex;
    justify-content: start;
    background-image: url(../../../assets/steamdeck/sd_header1.png);
    background-repeat: no-repeat;
}

