
.test2{
    background-image: url('../../../assets/steamdeck/sd_header_750.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    font-family: "Motiva Sans", Sans-serif !important;
    
}

.sdLogo{
    height: 90px;
    width: 300px;
    margin-left: 35%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.headerTextHeadline {
    margin-top: 2%;
    color: #FFFFFF;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1.15em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.headerText {
    color: #ffffff;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}

.content{
    padding: 5rem;
}

.lcd{
    color: rgb(26, 159, 255)
}

.oled{
    color: rgb(249, 56, 34);
}

#contentRow{
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-top: 5rem;
}

.priceTitle{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    font-family: "Motiva Sans", Sans-serif;
    padding: 5px;
}

.boxType{
    font-size: 2em;
    margin: 5px;
    display:inline;
    justify-content: space-between;
    align-items: center;
}

.pricePage{
    background-color: rgb(255, 255, 255);
    height: 802px;
}

.price{
    background: none;
    color: black;
    font-size: 2.8em;
    font-weight: 600;
}

.priceDrop{
    padding: 5px;
    background: #000000;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    height: fit-content;
    font-size: 12px;
}

.new{
    padding: 5px;
    background: #f93829;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    height: fit-content;
    font-size: 12px;;
}

.specs{
    color: #000000
    list-style-type disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    font-size: 1em;
}
