<div class="row">
    <div class="test1 col" style="color: black">

        <h3>Sas1</h3>

    </div>

    <!--Body-Navbar-->

    <div class="test2 col-8" style="color: white">

        <div class="mt-4">

            <app-body-navbar></app-body-navbar>

        </div>

        <!--Header e Titoli-->

        <div class="row">
            <h3>
                <span class="sd_logo">
                    <img src="../../../assets/steamdeck/sd_logo_gradient_animated.png">
                </span>
                <span class="row">
                    <h1 class="headerTextHeadline">Introducing Steam Deck OLED</h1>
                    <h3 class="headerText">A high dynamic range screen, a longer-lasting battery, faster downloads,
                        <br> and much more
                    </h3>
                </span>
            </h3>
        </div>
        <!--Prezzi e Modelli-->

        <div class="row">
            <span class="priceSection">
                <h1 class="" style="color: blue">
                    SSSSSSSSSSSSSSSSSSSSSSSSSAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASSSSSSSSSSSSSSSSSSSS
                </h1>



            </span>


        </div>


    </div>

    <div class="test3 col" style="color: black">

        <h3>Sas3</h3>

    </div>
</div>