<div class="container-fluid game-page-container">
    <div class="d-flex flex-wrap">

        <div class="col-lg-2 section"></div>

        <div class="col-lg-8 section">

            <div class="d-flex flex-column header">
                <div class="col section">
                    <app-edit-header-page [game]="game" [gameForm]="gameForm"> </app-edit-header-page>
                </div>
                <div class="col section">
                    <app-edit-body-page [game]="game" [gameForm]="gameForm" [systemRequirements]="systemRequirements"></app-edit-body-page>
                </div>

            </div>
        </div>

        <div class="col-lg-2 section"></div>

    </div>
</div>
