//Animazioni
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//Struttura CSS
.game-page-container {
    animation: fadeIn 2s ease;
    max-width: 100rem;
    min-height: 100vh;
}
