<div class="container-fluid game-page-container">
    <div class="d-flex flex-wrap header">

        <div class="col-lg-2 d-flex justify-content-end section">
        </div>

        <div class="col-lg-8 section">

            <div class="d-flex flex-column header">
                <div class="col section"> 
                    <div class="d-flex flex-wrap header">
                        <div class="col section"></div>
                        <div class="col-11 d-flex flex-column section">
                            
                            <div class="col section">
                                <app-body-navbar> </app-body-navbar>
                            </div>

                            <div class="col section">
                                <app-header-cart [game]="game"> </app-header-cart>
                            </div>

                            <div class="col section">
                            </div>

                            <div class="col section">
                                
                            </div>

                        </div>
                        <div class="col section"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 section"></div>

    </div>
</div>

