//Mixin
@mixin background {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 5px;
}

//Struttura CSS
.body-data-game-container .header .section {
    p {
        margin: 0;
    }

    .header {
        .section:nth-child(1) {

            //col-8
            .header {
                .section:nth-child(1) {
                    //la card del costo del gioco

                    .header {
                        background-image: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
                        border-radius: 4px;

                        .section {
                            .caption {
                                font-size: 21px;
                                color: white;
                            }

                            .header {
                                /* background-color: #000; */
                                background-image: initial;

                                .section {

                                    background-image: initial;
                                    background-color: initial;

                                    .percentage-price {
                                        border-radius: 1px;
                                        background: #4c6b22;
                                        font-size: 25px;
                                        font-family: "Motiva Sans", sans-serif;
                                        font-weight: 500;
                                        color: #BEEE11;
                                        line-height: 34px;
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                    }

                                    .base-price {
                                        background-color: black;
                                        color: white;
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                    }
                                }

                                .section:nth-child(2) {
                                    background-color: #344654;
                                    border-radius: 0% !important;

                                    .discounted-price {

                                        font-size: 11px;
                                        line-height: 16px;
                                        font-family: Arial, Helvetica, sans-serif;

                                        .label:nth-child(1) {
                                            font-size: inherit;
                                            line-height: 12px;
                                            color: #738895;
                                            text-decoration: line-through;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }

                                        .label:last-child {
                                            font-size: 15px;
                                            font-family: Arial, Helvetica, sans-serif;
                                            color: #BEEE11;
                                        }
                                    }
                                }

                                .section:last-child {
                                    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
                                    color: #d2efa9;
                                    border-radius: initial;
                                    border-top-right-radius: 3px;
                                    border-bottom-right-radius: 3px;
                                    border-style: solid;
                                    border-color: black;

                                    &:hover {
                                        cursor: pointer;
                                        color: white;
                                    }

                                    .label {
                                        font-size: 15px;
                                        color: inherit;
                                        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
                                    }
                                }
                            }
                        }
                    }
                }

                .section:nth-child(2) {
                    //descrizione del gioco
                    line-height: 13px;

                    .heading {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        color: white;
                    }

                    .image {
                        background-repeat: no-repeat;
                    }

                    .content {
                        padding-top: 1rem;
                        color: #acb2b8;
                        text-transform: none;
                        font-size: 14px;
                        line-height: 24px;
                        font-family: sans-serif;
                    }
                }

                .section:last-child {
                    //requisiti di sistema
                    padding: initial;
                    line-height: 13px;

                    .heading {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        color: white;
                    }

                    .image {
                        background-repeat: no-repeat;
                    }

                    .header .section {
                        background: initial;
                        padding: 0;
                        line-height: 22px;

                        .heading {
                            background: inherit;
                            font-size: 10px;
                            color: #bcc6cd;
                            text-transform: uppercase;
                            padding-top: 0.2rem;
                            line-height: initial;
                        }

                        .caption-item {
                            color: #61686D;
                            font-size: 12px;
                        }

                        .text-item:nth-child(2) {
                            padding-left: initial
                        }

                        .text-item {
                            font-size: 12px;
                            color: #acb2b8;
                            padding-left: 0.2rem;
                        }
                    }
                }
            }
        }

        .section:last-child {
            //col-4

            padding-left: 0.45rem;

            .header {
                .section:nth-child(1) {
                    @include background();

                    .heading {
                        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
                        line-height: 45px;
                        color: white;
                        font-size: 16px;
                    }

                    .content {
                        color: #acb2b8;
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .button {
                        background: initial;
                        border: initial;
                        font-weight: normal;
                        background: rgba(103, 193, 245, 0.2);
                        font-size: 14px;
                        line-height: 24px;
                        color: #acb2b8;
                        border-radius: 2px;
                        text-decoration: none !important;
                        color: #67c1f5 !important;
                        cursor: pointer;

                        &:hover {
                            background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
                            color: white !important;
                        }
                    }
                }

                .section:nth-child(2) {
                    @include background();

                    button {
                        background: initial;
                        border: initial;
                        background: rgba( 103, 193, 245, 0.1 );
                        font-size: 12px;
                        color: #67c1f5;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: normal;
                        padding-left: 0.5rem;

                        &:hover {
                            background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
                            color: #ffffff;
                        }
                    }

                    .image {
                        width: 26px;
                        height: 16px;
                    }
                }

                .section:nth-child(3) {
                    @include background();

                    .caption {
                        color: #8f98a0;
                        font-size: 12px;
                    }

                    .header {
                        .section {
                            padding: initial;
                            background: initial;
                            border-radius: 0;
                            border-bottom: 1px solid #626366;

                            .heading {
                                color: #b0aeac;
                                font-size: 12px;
                            }
        
                            .caption {
                                color: #8f98a0;
                                font-size: 12px;
                            }
        
                            .value-item {
                                font-weight: bold;
                                color: #67c1f5;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* .body-data-game-container .header .section {
    .deals-container .header .section {
        .game-deals-card-container .header {
            background-image: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
            ;
                }

                .discount-price-container {
                    background-color: #344654;
                    border-radius: 2px;

                    .wrapper {
                        font-size: 11px;
                        line-height: 12px;
                        color: #738895;
                        text-decoration: line-through;
                        font-family: Arial, Helvetica, sans-serif;

                        .base-price-label {
                            line-height: 12px;
                            color: #738895;
                            text-decoration: line-through;
                            font-family: Arial, Helvetica, sans-serif;
                        }

                        .discount-price-label {
                            font-size: 15px;
                            font-family: Arial, Helvetica, sans-serif;
                            color: #BEEE11;
                        }
                    }
                }
            }
        }
    }
}

//Variabili
$body-data-game-deals-section-col-4-background-color: rgba(0, 0, 0, 0.2);
$body-data-game-deals-section-col-4-background-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
$game-deals-card-container-background-gradient: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);

//Mixin
@mixin game-deals-card-container-background {
    background: $game-deals-card-container-background-gradient;
    border-radius: 4px;
}

@mixin body-data-game-deals-section-col-4-background {
    background-color: $body-data-game-deals-section-col-4-background-color;
    background: $body-data-game-deals-section-col-4-background-gradient;
    border-radius: 5px;
}

@mixin body-data-game-deals-col-8-section {
    .game-deals-card-container {
        @include game-deals-card-container-background();

        .game-deals-card-header {
            .game-caption-section {
                .game-caption {
                    font-size: 21px;
                    color: white;
                }
            }

            .price-deals-section {

                .base-price-label-container .base-price-label-section {
                    background-color: black;

                    .base-price-label {
                        color: white;
                    }
                }

                .cart-bottom-section {
                    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);

                    .cart-bottom-label {
                        font-size: 15px;
                        color: #d2efa9;
                        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    .review-container .review-header {
        .review-caption-section .review-caption {
            font-size: 14px;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-family: sans-serif;
            color: white;
        }


        .review-content-section {
            .review-content {
                color: #acb2b8;
                font-size: 12px;
                font-family: sans-serif;
            }

            .review-user-content {
                color: white;
            }
        }
    }

    .about-container .about-header {
        .about-caption-section {
            border-bottom-style: solid;
            border-bottom-color: #585a5e;
            border-bottom-width: 1px;

            .about-caption {
                font-size: 14px;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-family: sans-serif;
                color: white;
            }
        }

        .about-content-section {
            overflow: hidden;
            max-height: 350px;
            transition: max-height 0.5s ease;

            &:hover {
                overflow: auto;
            }

            .about-content {
                color: #acb2b8;
                text-transform: none;
                font-size: 14px;
                line-height: 24px;
                font-family: sans-serif;
            }
        }
    }
}

@mixin body-data-game-deals-col-4-section {
    .sign-in-container .sign-in-header {
        .sign-in-section {
            @include body-data-game-deals-section-col-4-background();

            .sign-in-label-section {
                background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);

                .sign-in-label {
                    color: white;
                    font-size: 16px;
                }
            }

            .sign-in-content-section .sign-in-content {
                font-size: 14px;
                line-height: 24px;
                color: #acb2b8;
            }

            .sign-in-button-section .sign-in-button {
                border-radius: 2px;
                border: none;
                display: inline-block;
                cursor: pointer;
                text-decoration: none !important;
                color: #67c1f5 !important;
                background: rgba(103, 193, 245, 0.2);
            }
        }
    }

    .feature-container .feature-header {
        .feature-section {
            @include body-data-game-deals-section-col-4-background();

            .feature-item {
                background: rgba(103, 193, 245, 0.2);
                font-size: 12px;
                color: #67c1f5 !important;
                font-family: Arial, Helvetica, sans-serif;
            }

            .feature-category-label {
                font-size: 12px;
                color: #8f98a0;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    .language-container .language-header {
        .language-section {
            @include body-data-game-deals-section-col-4-background();

            .language-label {
                font-size: 11px;
                color: #8f98a0;
            }

            .language-caption-container .language-caption-header {
                .language-caption-section {
                    .language-caption-item {
                        font-size: 11px;
                        color: #b0aeac;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }

            .language-info-container .language-info-header {
                border-top-color: #585a5e;
                border-top: 1px;
                border-top-style: solid;
            }

            .language-info-section {
                .language-info-item {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    color: #b0aeac;
                }

                .language-info-icon {
                    font-weight: bold;
                    color: #67c1f5;
                }
            }
        }
    }

    .pegi-container .pegi-header {
        @include body-data-game-deals-section-col-4-background();

        .pegi-image-section .pegi-image {
            max-width: 30%;
            height: auto;
        }

        .pegi-label-section .pegi-label {
            font-size: 12px;
            color: #c6d4df;
        }
    }
}

//Struttura CSS
.body-data-game-container .body-data-game-header .body-data-game-col-11-section .body-data-game-deals-container .body-data-game-deals-header {
    .body-data-game-deals-col-8-section {
        @include body-data-game-deals-col-8-section()
    }

    .body-data-game-deals-col-4-section {
        @include body-data-game-deals-col-4-section()
    }
} */