//Mixin
@mixin background {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 5px;
}

//Struttura CSS
.body-data-game-container .header .section {
    p {
        margin: 0;
    }

    .header {

        //col-8
        .section:nth-child(1) {

            .header {

                //la card del costo del gioco
                .section:nth-child(1) {

                    .header {
                        background-image: linear-gradient(-60deg, rgba(226, 244, 255, 0.3) 5%, rgba(84, 107, 115, 0.3) 95%);
                        border-radius: 4px;

                        .section {
                            .caption {
                                font-size: 21px;
                                color: white;
                            }

                            .header {
                                /* background-color: #000; */
                                background-image: initial;

                                .section {

                                    background-image: initial;
                                    background-color: initial;

                                    .percentage-price {
                                        border-radius: 1px;
                                        background: #4c6b22;
                                        font-size: 25px;
                                        font-family: "Motiva Sans", sans-serif;
                                        font-weight: 500;
                                        color: #BEEE11;
                                        line-height: 34px;
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                    }

                                    .base-price {
                                        background-color: black;
                                        color: white;
                                        border-top-left-radius: 3px;
                                        border-bottom-left-radius: 3px;
                                    }
                                }

                                .section:nth-child(2) {
                                    background-color: #344654;
                                    border-radius: 0% !important;

                                    .discounted-price {

                                        font-size: 11px;
                                        line-height: 16px;
                                        font-family: Arial, Helvetica, sans-serif;

                                        .label:nth-child(1) {
                                            font-size: inherit;
                                            line-height: 12px;
                                            color: #738895;
                                            text-decoration: line-through;
                                            font-family: Arial, Helvetica, sans-serif;
                                        }

                                        .label:last-child {
                                            font-size: 15px;
                                            font-family: Arial, Helvetica, sans-serif;
                                            color: #BEEE11;
                                        }
                                    }
                                }

                                .section:last-child {
                                    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
                                    color: #d2efa9;
                                    border-radius: initial;
                                    border-top-right-radius: 3px;
                                    border-bottom-right-radius: 3px;
                                    border-style: solid;
                                    border-color: black;

                                    &:hover {
                                        cursor: pointer;
                                        color: white;
                                    }

                                    .label {
                                        font-size: 15px;
                                        color: inherit;
                                        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
                                    }
                                }
                            }
                        }
                    }
                }

                //descrizione del gioco
                .section:nth-child(2) {
                    line-height: 13px;

                    .heading {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        color: white;
                    }

                    .image {
                        background-repeat: no-repeat;
                    }

                    .content {
                        padding-top: 1rem;
                        color: #acb2b8;
                        text-transform: none;
                        font-size: 14px;
                        line-height: 24px;
                        font-family: sans-serif;
                    }
                }

                //requisiti di sistema
                .section:last-child {
                    padding: initial;
                    line-height: 13px;

                    .heading {
                        font-size: 14px;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        color: white;
                    }

                    .image {
                        background-repeat: no-repeat;
                    }

                    .header .section {
                        background: initial;
                        padding: 0;
                        line-height: 22px;

                        .heading {
                            background: inherit;
                            font-size: 10px;
                            color: #bcc6cd;
                            text-transform: uppercase;
                            padding-top: 0.2rem;
                            line-height: initial;
                        }

                        .caption-item {
                            color: #61686D;
                            font-size: 12px;
                        }

                        .text-item:nth-child(2) {
                            padding-left: initial
                        }

                        .text-item {
                            font-size: 12px;
                            color: #acb2b8;
                            padding-left: 0.2rem;
                        }
                    }
                }
            }
        }

        //col-4
        .section:last-child {

            padding-left: 0.45rem;

            .header {
                .section {
                    @include background();
                }

                //pulsante di sign in
                .section:nth-child(1) {

                    .heading {
                        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
                        line-height: 45px;
                        color: white;
                        font-size: 16px;
                    }

                    .content {
                        color: #acb2b8;
                        font-size: 14px;
                        line-height: 22px;
                    }

                    .button {
                        background: initial;
                        border: initial;
                        font-weight: normal;
                        background: rgba(103, 193, 245, 0.2);
                        font-size: 14px;
                        line-height: 24px;
                        color: #acb2b8;
                        border-radius: 2px;
                        text-decoration: none !important;
                        color: #67c1f5 !important;
                        cursor: pointer;

                        &:hover {
                            background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
                            color: white !important;
                        }
                    }
                }

                //feature
                .section:nth-child(2) {

                    button {
                        background: initial;
                        border: initial;
                        background: rgba(103, 193, 245, 0.1);
                        font-size: 12px;
                        color: #67c1f5;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: normal;
                        padding-left: 0.5rem;

                        &:hover {
                            background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
                            color: #ffffff;
                        }
                    }

                    .image {
                        width: 26px;
                        height: 16px;
                    }
                }

                //lingue supportate
                .section:nth-child(3) {
                    .caption {
                        color: #8f98a0;
                        font-size: 12px;
                    }

                    .header {
                        .section {
                            padding: initial;
                            background: initial;
                            border-radius: 0;
                            border-bottom: 1px solid #626366;
                            font-size: 12px !important;

                            .heading {
                                color: #b0aeac;
                            }

                            .caption {
                                color: #8f98a0;
                            }

                            .value-item {
                                font-weight: bold;
                                color: #67c1f5;
                            }
                        }
                    }
                }

                /* .section:nth-child(4) {

                } */

                //informazioni del gioco
                .section:nth-child(5) {
                    font-size: 11px;
                    line-height: 23px;

                    .header {
                        .caption-item {
                            color: #556772;
                            text-transform: uppercase;
                        }

                        .text-item {
                            color: #8f98a0;
                        }

                        .label-item {
                            color: #67c1f5;

                            &:hover {
                                color: white;
                                cursor: pointer;
                            }
                        }

                        .button {
                            background: initial;
                            border: initial;
                            background: rgba(103, 193, 245, 0.1);
                            font-size: 12px;
                            color: #67c1f5;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: normal;
                            padding-left: 0.5rem;

                            &:hover {
                                background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
                                color: #ffffff;
                            }
                        }
                    }
                }

                //pegi del gioco
                .section:nth-child(6) {
                    .header {
                        .image {
                            max-width: 30%;
                            height: auto;
                        }

                        .label {
                            font-size: 12px;
                            color: #c6d4df;
                        }
                    }
                }
            }
        }
    }
}