<div class="container mt-3 body-data-game-container">
    <div class="d-flex flex-wrap body-data-game-header">

        <div class="col">

        </div>

        <div class="col-11 body-data-game-col-11-section">
            <div class="container p-0 body-data-game-deals-container">
                <div class="d-flex flex-wrap body-data-game-deals-header">

                    <div class="col-8 body-data-game-deals-col-8-section">
                        <div class="container p-0 game-deals-card-container">
                            <div class="d-flex flex-column game-deals-card-header">

                                <div class="col p-3 game-caption-section">
                                    <span class="game-caption"> Buy {{game.game.name}} </span>
                                </div>

                                <div class="col p-1 d-flex justify-content-end price-deals-section">

                                    <div class="px-2 border-black border border-2 percentage-discount-label-section"
                                        *ngIf="game.game.discounted_percentage != null">
                                        <span class="percentage-discount-label"> {{ game.game.discounted_percentage }}%
                                        </span>
                                    </div>

                                    <div class="px-2 border-black border border-2 discount-price-section"
                                        *ngIf="game.game.discounted_price != null && game.game.base_price > 0 ">
                                        <div
                                            class="col d-flex justify-content-end pt-1 discount-base-price-label-section">
                                            <span class="discount-base-price-label"> {{ game.game.base_price.toFixed(2)
                                                + "€" }}
                                            </span>
                                        </div>

                                        <div class="col d-flex justify-content-end discount-price-label-section">
                                            <span class="discount-price-label"> {{ game.game.discounted_price.toFixed(2)
                                                +"€"
                                                }} </span>
                                        </div>
                                    </div>

                                    <div class="base-price-label-container">
                                        <div class="col px-2 d-flex justify-content-end py-2 base-price-label-section"
                                            *ngIf="game.game.discounted_price == null && game.game.base_price > 0 ">
                                            <span class="base-price-label"> {{ game.game.base_price.toFixed(2) +
                                                "€"
                                                }} </span>
                                        </div>
                                    </div>


                                    <div
                                        class="px-2 d-flex align-items-center border-black border border-3 cart-bottom-section">
                                        <span class="cart-bottom-label"> Add to Cart </span>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="container p-0 mt-4 review-container">
                            <div class="d-flex flex-column review-header">

                                <div class="col mb-2 review-caption-section">
                                    <span class="review-caption"> Review </span>
                                </div>

                                <div class="col review-content-section">
                                    <span class="review-content"> "{{game.game.name}} goes for feel above all else, and
                                        it feels
                                        fantastic”
                                        5/5 - </span>
                                    <span class="review-user-content"> Giant Bomb </span>
                                </div>

                                <div class="col pt-3 review-content-section">
                                    <span class="review-content"> “The pinnacle of {{game.tags[0].name}} ” - </span>
                                    <span class="review-user-content"> Kotaku </span>
                                </div>

                                <div class="col pt-3 review-content-section">
                                    <span class="review-content"> "{{game.game.name}} is a must play”
                                        5/5 - </span>
                                    <span class="review-user-content"> Game Informer </span>
                                </div>

                            </div>
                        </div>

                        <div class="container p-0 mt-4 about-container">
                            <div class="d-flex flex-column about-header">

                                <div class="col mb-2 about-caption-section">
                                    <span class="about-caption"> About This Game </span>
                                </div>

                                <div class="col mb-2 about-content-section">
                                    <span class="about-content"> {{game.game.long_description}} </span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-4 body-data-game-deals-col-4-section">

                        <div class="container pe-0 mb-2 sign-in-container">
                            <div class="d-flex flex-column sign-in-header">

                                <div class="col sign-in-section">
                                    <div class="px-2 py-2 d-flex justify-content-center sign-in-label-section">
                                        <span class="sign-in-label"> Is this game relevant to you? </span>
                                    </div>

                                    <div class="px-2 pt-2 sign-in-content-section">
                                        <span class="sign-in-content"> Sign in to see reasons why you may or may not
                                            like
                                            this based
                                            on your games, friends, and curators you follow. </span>
                                    </div>

                                    <div class="p-2 d-flex justify-content-center sign-in-button-section">
                                        <div class="py-1 px-5 sign-in-button"> Sign In </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 mb-2 feature-container">
                            <div class="d-flex flex-column feature-header">

                                <div class="col px-2 pt-2 feature-section">
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Online Co-op </span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Shared/Split Screen Co-op</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Steam Achievements</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Steam Trading Cards</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Remote Play Together </span>
                                    </div>
                                </div>

                                <div class="col px-2 pt-2 feature-section">
                                    <span class="feature-category-label"> Full Controller Support </span>

                                    <div class="mb-1 px-2 feature-item">
                                        <span> Xbox Controllers </span>
                                    </div>
                                    <div class=" mb-1 px-2 feature-item">
                                        <span> DualShock Controllers (USB Only) </span>
                                    </div>
                                    <div class=" mb-1 px-2 feature-item">
                                        <span> DualSense Controllers (USB Only) </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 mb-2 language-container">
                            <div class="d-flex flex-wrap language-header">

                                <div class="col language-section">

                                    <p class="px-2 pt-2 mb-1 language-label"> Languages: </p>

                                    <div class="container language-caption-container">
                                        <div class="d-flex flex-wrap language-caption-header">

                                            <div class="col-3 d-flex justify-content-center p-0">
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center p-0 language-caption-section">
                                                <span class="language-caption-item"> Interface </span>
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center  p-0 language-caption-section">
                                                <span class="language-caption-item"> Full Audio </span>
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center  p-0 language-caption-section">
                                                <span class="language-caption-item"> Subtitles </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="container pb-2 language-info-container">
                                        <div class="d-flex flex-wrap language-info-header"
                                            *ngFor="let item of languages">


                                            <div
                                                class="col-3 language-item d-flex justify-content-start language-info-section ">
                                                <span class="language-info-item"> {{item.language.name}}
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.interface == 1"> ✔
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center  p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.full_audio == 1"> ✔
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center  p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.subtitles  == 1"> ✔
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 pegi-container">
                            <div class="d-flex flex-column pegi-header px-2 py-2">

                                <div class="col pegi-image-section">
                                    <img [src]="game.pegi_img.image_path" class="pegi-image">
                                </div>

                                <div class="col pegi-label-section">
                                    <span class="pegi-label"> Rating for: PEGI </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col">

        </div>

    </div>
</div>