<div class="container body-data-game-container">
    <div class="d-flex header">

        <div class="col section">
            <div class="d-flex flex-wrap header">

                <div class="col-8 section">
                    <div class="d-flex flex-column header">

                        <div class="col mt-3 mb-5 section"> <!--la card del costo del gioco-->
                            <div class="d-flex flex-column header">

                                <div class="col section">
                                    <p class="p-3 caption"> Buy {{game.game.name}} </p>
                                </div>

                                <div class="col section">
                                    <div class="d-flex fle-row p-2 justify-content-end header">

                                        <div class="col-4 w-auto d-flex align-items-center section" *ngIf="game.game.discounted_percentage != null">
                                            <div class="px-2 percentage-price">
                                                {{ game.game.discounted_percentage }}%
                                            </div>
                                        </div>

                                        <div class="col-1 w-auto px-2 d-flex justify-content-end align-items-center section"
                                            *ngIf="game.game.discounted_price != null && game.game.base_price > 0">
                                            <div class="discounted-price">
                                                <p class="d-flex justify-content-end label"> {{
                                                    game.game.base_price.toFixed(2)
                                                    + "€" }} </p>
                                                <p class="label"> {{ game.game.discounted_price.toFixed(2)
                                                    +"€"}} </p>
                                            </div>
                                        </div>

                                        <div class="col-2 w-auto section"  *ngIf="game.game.discounted_price == null">
                                            <div class="base-price">
                                                <p class="p-2 label"  *ngIf="game.game.base_price > 0"> {{ game.game.base_price.toFixed(2)
                                                    + "€" }} </p>

                                                <p class="py-2 px-3 label" *ngIf="game.game.base_price == 0"> Free to Play </p>
                                            </div>
                                        </div>

                                        <div class="col-2 d-flex justify-content-center align-items-center section">
                                            <div class="label">
                                                Add to Cart
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col mt-5 section"> <!--descrizione del gioco-->
                            <p class="heading"> About this Game </p>
                            <img src="https://store.akamai.steamstatic.com/public/images/v6/maincol_gradient_rule.png" class="image">
                            <p class="content"> {{game.game.long_description}} </p>
                        </div>  

                        <div class="col mt-5 section"> <!--requisiti di sistema del gioco-->
                            <p class="heading"> System Requirements </p>
                            <img src="https://store.akamai.steamstatic.com/public/images/v6/maincol_gradient_rule.png" class="image">

                            <div class="d-flex flex-wrap header">

                                <div class="col-6 section">
                                    <p class="heading"> Minimum: </p>
                                    <p class="text-item"> Requires a 64-bit processor and operating system </p>
                                    <span class="caption-item"> OS *: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].os_name}} </span> <br>
                                    <span class="caption-item"> Processor: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].cpu_name}} </span> <br>
                                    <span class="caption-item"> Memory: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].ram_name}} </span> <br>
                                    <span class="caption-item"> Graphics: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].gpu_name}} </span> <br>
                                    <span class="caption-item"> DirectX: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].directx_name}} </span> <br>
                                    <span class="caption-item"> Network: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].network_name}}</span> <br>
                                    <span class="caption-item"> Storage: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].storage_name}} </span> <br>
                                    <span class="caption-item"> Additional Notes: </span> <span class="text-item"> {{systemRequirements.data.Windows[0].audio_name}} </span>
                                </div>

                                <div class="col-6 section">
                                    <p class="heading"> Reccomended: </p>
                                    <p class="text-item"> Requires a 64-bit processor and operating system </p>
                                    <span class="caption-item"> OS *: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].os_name}} </span> <br>
                                    <span class="caption-item"> Processor: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].cpu_name}} </span> <br>
                                    <span class="caption-item"> Memory: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].ram_name}} </span> <br>
                                    <span class="caption-item"> Graphics: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].gpu_name}} </span> <br>
                                    <span class="caption-item"> DirectX: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].directx_name}} </span> <br>
                                    <span class="caption-item"> Network: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].network_name}}</span> <br>
                                    <span class="caption-item"> Storage: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].storage_name}} </span> <br>
                                    <span class="caption-item"> Additional Notes: </span> <span class="text-item"> {{systemRequirements.data.Windows[1].audio_name}} </span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-4 section">

                    <div class="d-flex flex-column header">

                        <div class="col section">

                        </div>

                        <div class="col section">

                        </div>

                        <div class="col section">

                        </div>

                        <div class="col section">

                        </div>

                        <div class="col section">

                        </div>

                        <div class="col section">

                        </div>

                    </div>
                </div>

            </div>
        </div>>

    </div>
</div>

<!-- <div class="container mt-3 d-block body-data-game-container">
    <div class="d-flex flex-wrap header">

        <div class="col section">

        </div>

        <div class="col-11 section">
            <div class="container p-0 deals-container">
                <div class="d-flex flex-wrap header">

                    <div class="col-8 section">
                        <div class="container p-0 game-deals-card-container">
                            <div class="d-flex flex-column header">

                                <div class="col p-3 section">
                                    <span class="caption"> Buy {{game.game.name}} </span>
                                </div>

                                <div class="col p-1 d-flex justify-content-end section">

                                    <div class="px-2 border-black border border-2 percentage-discount-container"
                                        *ngIf="game.game.discounted_percentage != null">
                                        <span class="label"> {{ game.game.discounted_percentage }}%
                                        </span>
                                    </div>

                                    <div class="px-2 border-black border border-2 discount-price-container"
                                        *ngIf="game.game.discounted_price != null && game.game.base_price > 0 ">
                                        <div
                                            class="col d-flex justify-content-end pt-1 section">
                                            <span class="base-price-label"> {{ game.game.base_price.toFixed(2)
                                                + "€" }}
                                            </span>
                                        </div>

                                        <div class="col d-flex justify-content-end section">
                                            <span class="discount-price-label"> {{ game.game.discounted_price.toFixed(2)
                                                +"€"
                                                }} </span>
                                        </div>
                                    </div>

                                    <div class="base-price-label-contai ner">
                                        <div class="col px-2 d-flex justify-content-end py-2 section"
                                            *ngIf="game.game.discounted_price == null && game.game.base_price > 0 ">
                                            <span class="label"> {{ game.game.base_price.toFixed(2) +
                                                "€"
                                                }} </span>
                                        </div>
                                    </div>

                                    <div  class="px-2 d-flex align-items-center border-black border border-3 cart-bottom-section">
                                        <span class="cart-bottom-label"> Add to Cart </span>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="container p-0 mt-4 container">
                            <div class="d-flex flex-column header">

                                <div class="col mb-2 section">
                                    <span class="caption"> Review </span>
                                </div>

                                <div class="col section">
                                    <span class="content"> "{{game.game.name}} goes for feel above all else, and
                                        it feels
                                        fantastic”
                                        5/5 - </span>
                                    <span class="user-content"> Giant Bomb </span>
                                </div>

                                <div class="col pt-3 section">
                                    <span class="content"> “The pinnacle of {{game.tags[0].name}} ” - </span>
                                    <span class="user-content"> Kotaku </span>
                                </div>

                                <div class="col pt-3 section">
                                    <span class="content"> "{{game.game.name}} is a must play”
                                        5/5 - </span>
                                    <span class="user-content"> Game Informer </span>
                                </div>

                            </div>
                        </div>

                        <div class="container p-0 mt-4 about-container">
                            <div class="d-flex flex-column header">

                                <div class="col mb-2 caption-section">
                                    <span class="caption"> About This Game </span>
                                </div>

                                <div class="col mb-2 content-section">
                                    <span class="content"> {{game.game.long_description}} </span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-4 section">

                        <div class="container pe-0 mb-2 sign-in-container">
                            <div class="d-flex flex-column header">

                                <div class="col section">
                                    <div class="px-2 py-2 d-flex justify-content-center label-section">
                                        <span class="label"> Is this game relevant to you? </span>
                                    </div>

                                    <div class="px-2 pt-2 content-section">
                                        <span class="content"> Sign in to see reasons why you may or may not
                                            like
                                            this based
                                            on your games, friends, and curators you follow. </span>
                                    </div>

                                    <div class="p-2 d-flex justify-content-center button-section" *ngIf="!(authService.loggedIn$ | async)">
                                        <div class="py-1 px-5 button" routerLink="/login"> Sign In </div>
                                    </div>

                                    <div class="p-2 d-flex justify-content-center button-section" *ngIf="authService.loggedIn$ | async">
                                        <div class="py-1 px-5 button" routerLink="/login"> More Info </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 mb-2 feature-container">
                            <div class="d-flex flex-column feature-header">

                                <div class="col px-2 pt-2 feature-section">
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Online Co-op </span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Shared/Split Screen Co-op</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Steam Achievements</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Steam Trading Cards</span>
                                    </div>
                                    <div class="mb-1 px-2 feature-item">
                                        <span> Remote Play Together </span>
                                    </div>
                                </div>

                                <div class="col px-2 pt-2 feature-section">
                                    <span class="feature-category-label"> Full Controller Support </span>

                                    <div class="mb-1 px-2 feature-item">
                                        <span> Xbox Controllers </span>
                                    </div>
                                    <div class=" mb-1 px-2 feature-item">
                                        <span> DualShock Controllers (USB Only) </span>
                                    </div>
                                    <div class=" mb-1 px-2 feature-item">
                                        <span> DualSense Controllers (USB Only) </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 mb-2 language-container">
                            <div class="d-flex flex-wrap language-header">

                                <div class="col language-section">

                                    <p class="px-2 pt-2 mb-1 language-label"> Languages: </p>

                                    <div class="container language-caption-container">
                                        <div class="d-flex flex-wrap language-caption-header">

                                            <div class="col-3 d-flex justify-content-center p-0">
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center p-0 language-caption-section">
                                                <span class="language-caption-item"> Interface </span>
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center  p-0 language-caption-section">
                                                <span class="language-caption-item"> Full Audio </span>
                                            </div>

                                            <div
                                                class="col-3 d-flex justify-content-center  p-0 language-caption-section">
                                                <span class="language-caption-item"> Subtitles </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="container pb-2 language-info-container">
                                        <div class="d-flex flex-wrap language-info-header"
                                            *ngFor="let item of languages">


                                            <div
                                                class="col-3 language-item d-flex justify-content-start language-info-section ">
                                                <span class="language-info-item"> {{item.language.name}}
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.interface == 1"> ✔
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center  p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.full_audio == 1"> ✔
                                                </span>
                                            </div>

                                            <div class="col-3 d-flex justify-content-center  p-0 language-info-section">
                                                <span class="language-info-icon" *ngIf="item.subtitles  == 1"> ✔
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container pe-0 pegi-container">
                            <div class="d-flex flex-column pegi-header px-2 py-2">

                                <div class="col pegi-image-section">
                                    <img [src]="game.pegi_img.image_path" class="pegi-image">
                                </div>

                                <div class="col pegi-label-section">
                                    <span class="pegi-label"> Rating for: PEGI </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col section">

        </div>

    </div>
</div> -->