<div class="container py-3 my-3 d-block big-buttons-container">
    <div class="d-flex flex-column header">

        <div class="container p-0 caption-container">
            <div class="d-flex flex-wrap header">

                <div class="col section">

                </div>
                <div class="col-11 section">
                    <p class="p-0 caption"> browse steam </p>
                </div>
                <div class="col section">

                </div>

            </div>
        </div>

        <div class="container p-0 button-container">
            <div class="d-flex flex-wrap header">

                <div class="col section">

                </div>

                <div class="col-11 section">
                    <div class="container p-0 wrapper">
                        <div class="d-flex flex-wrap header">

                            <div class="col-3 d-flex justify-content-center section">
                                <span class="d-flex justify-content-center align-items-center me-1 button"> New Releases
                                </span>
                            </div>

                            <div class="col-3 d-flex justify-content-center section">
                                <span class="d-flex justify-content-center align-items-center mx-1 button"> Specials
                                </span>
                            </div>

                            <div class="col-3 d-flex justify-content-center section">
                                <span class="d-flex justify-content-center align-items-center mx-1 button"> Free Games
                                </span>
                            </div>

                            <div class="col-3 d-flex justify-content-center section">
                                <span class="d-flex justify-content-center align-items-center ms-1 button"> By User Tags
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col section">

                </div>

            </div>
        </div>

    </div>
</div>