<div class="container py-3 my-3 d-block">
    <div class="d-flex flex-column">

        <div class="container p-0">
            <div class="d-flex flex-wrap">

                <div class="col">

                </div>
                <div class="col-11">
                    <p class="titles p-0"> browse steam </p>
                </div>
                <div class="col">

                </div>

            </div>
        </div>

        <div class="container p-0">
            <div class="d-flex flex-wrap">

                <div class="col">

                </div>

                <div class="col-11">
                    <div class="container p-0">
                        <div class="d-flex flex-wrap">
                            <div class="col-3 d-flex justify-content-center">
                                <div class="bigButtons d-flex justify-content-center align-items-center me-1"> New Releases
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="bigButtons d-flex justify-content-center align-items-center mx-1"> Specials
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="bigButtons d-flex justify-content-center align-items-center mx-1"> Free Games
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="bigButtons d-flex justify-content-center align-items-center ms-1"> By User Tags
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">

                </div>

            </div>
        </div>

    </div>
</div>