<div class="container body-navbar-container">
    <div class="d-flex flex-wrap align-items-center header">

        <div class="col-1 w-auto dropdown-section">
            <div class="container p-0 label"> Your Store
                <div class="d-flex flex-column header store-header">

                    <div class="col label-section">
                        <p class="label-item"> Home </p>
                        <p class="label-item"> Recommendations </p>
                        <p class="label-item"> Recently Viewed </p>
                        <p class="label-item"> Steam Cutrator </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-2 w-auto dropdown-section">
            <div class="container p-0 label"> New & Noteworthy
                <div class="d-flex flex-row header noteworthy-header">

                    <div class="col-6 label-section">
                        <p class="caption pt-3"> Popular </p>
                        <p class="label-item"> Top Seller </p>
                        <p class="label-item"> Most Played </p>
                        <p class="spacer"></p>
                        <p class="label-item"> New Releases </p>
                        <p class="label-item"> Upcoming Releases </p>
                        <p class="caption pt-3"> News & Updates </p>
                        <p class="label-item"> Recently Updated </p>
                    </div>

                    <div class="col-6 label-section">
                        <p class="caption pt-3"> Promos & Events </p>
                        <p class="label-item"> Special Offer </p>
                        <p class="label-item"> Sale Event </p>
                        <p class="spacer"> </p>
                        <p class="label-item"> Steam Year In Review </p>
                        <p class="label-item"> Steam Next Fest </p>
                        <p class="label-item"> The Steam Awards </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-1 w-auto dropdown-section">
            <div class="container p-0 label"> Category
                <div class="d-flex flex-row header category-header">

                    <div class="col-3 label-section">
                        <p class="caption pt-3"> Special Sections </p>
                        <p class="label-item"> Free to Play </p>
                        <p class="label-item"> Demos </p>
                        <p class="label-item"> Early Access </p>
                        <p class="spacer"></p>
                        <p class="label-item"> Steam Deck </p>
                        <p class="label-item"> Great on Deck </p>
                        <p class="spacer"></p>
                        <p class="label-item"> Controller-Friendly </p>
                        <p class="label-item"> Remote Play </p>
                        <p class="spacer"></p>
                        <p class="label-item"> Vr Titles </p>
                        <p class="label-item"> Vr Hardware </p>
                        <p class="spacer"></p>
                        <p class="label-item"> Software </p>
                        <p class="label-item"> SoundTrack </p>
                        <p class="spacer"></p>
                        <p class="label-item"> macOS </p>
                        <p class="label-item"> SteamOS + Linux </p>
                        <p class="label-item"> Windows </p>
                    </div>

                    <div class="col label-section">
                        <p class="caption pt-3"> Genres </p>
                        <div class="d-flex flex-wrap">
                            <div class="col label-section">
                                <p class="label-item" *ngFor="let item of tag?.slice(0, 8)">
                                    {{item.name}}
                                </p>
                                <p class="spacer"></p>
                                <p class="label-item pt-1" *ngFor="let item of tag?.slice(8, 16)">
                                    {{item.name}}
                                </p>
                            </div>
                            <div class="col-8 label-section">
                                <p class="label-item" *ngFor="let item of tag?.slice(16, 24)">
                                    {{item.name}}
                                </p>
                                <p class="spacer"></p>
                                <p class="label-item pt-1" *ngFor="let item of tag?.slice(24, 32)">
                                    {{item.name}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3 label-section">
                        <p class="caption pt-3"> <span> Themes </span> </p>
                        <p class="label-item"> Adult Only </p>
                        <p class="label-item"> Anime </p>
                        <p class="label-item"> Horror </p>
                        <p class="label-item"> Mystery & Detective </p>
                        <p class="label-item"> Open World </p>
                        <p class="label-item"> Sci-Fi & Cyberpunk </p>
                        <p class="label-item"> Space </p>
                        <p class="label-item"> Survival </p>
                        <p class="borderStyle"></p>
                        <p class="caption pt-1"> <span> Player Support </span> </p>
                        <p class="label-item"> Co-Operative </p>
                        <p class="label-item"> LAN </p>
                        <p class="label-item"> Local & Party </p>
                        <p class="label-item"> MMO </p>
                        <p class="label-item"> Multiplayer </p>
                        <p class="label-item"> Online Competitive </p>
                        <p class="label-item"> Singleplayer </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-1 w-auto label-section">
            <div class="label"> Point Shop </div>
        </div>

        <div class="col-1 w-auto label-section">
            <div class="label"> News </div>
        </div>

        <div class="col-4 label-section">
            <div class="label"> Labs </div>
        </div>

        <div class="col ps-1 form-section">
            <form role="search" class="form">
                <div class="d-flex flex-wrap wrapper">
                    <div class="col section">
                        <input class="form-control" type="search" placeholder="search" aria-label="Search">
                    </div>
                    <div class="col-2 d-flex section">
                        <img class="image"
                            src="https://store.akamai.steamstatic.com/public/images/v6/search_icon_btn_over.png"/>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>