<div class="container d-flex justify-content-center p-0">
    <nav class="navbar navbar-expand">
        <div class="container p-0">

            <div class="row collapse navbar-collapse px-3">

                <div class="col nav-item d-flex justify-content-center dropdown"> 
                    <span class="nav-link dropbtn menu-dropdown"> Your Store
                        <div class="dropdown-content store">

                            <a class="subMenuItem" routerLink=""> Home </a>
                            <a class="subMenuItem"> Community Recommendations </a>
                            <a class="subMenuItem"> Recently Viewed </a>
                            <a class="subMenuItem"> Steam Cutrator </a>

                        </div>
                    </span> 
                </div>

                <div class="col-2 nav-item d-flex justify-content-center dropdown"> 
                    <span class="nav-link dropbtn menu-dropdown"> New & Noteworthy
                        <div class="dropdown-content noteworthy">
                            <div class="row">
                                <div class="col">
                                    <a class="subMenuItemTitle pt-3" > Popular </a>
                                    <a class="subMenuItem"> Top Seller </a>
                                    <a class="subMenuItem borderStyle"> Most Played </a>
                                    <a class="subMenuItem"> New Releases </a>
                                    <a class="subMenuItem"> Upcoming Releases </a>
                                    <a class="subMenuItem"> Recently Updated </a>
                                </div>
                                
                                <div class="col">
                                    <a class="subMenuItem" routerLink=""> Main Page </a>
                                    <a class="subMenuItem"> Discovery Queue </a>
                                    <a class="subMenuItem"> Wishlist </a>
                                    <a class="subMenuItem"> Point store </a>
                                    <a class="subMenuItem"> News </a>
                                    <a class="subMenuItem"> Stats </a>
                                    <a class="subMenuItem"> About </a>
                                </div>
                            </div>
                        </div>
                    </span> </div>
                <div class="col nav-item d-flex justify-content-center"> <span class="nav-link"> Categories </span>
                </div>
                <div class="col nav-item d-flex justify-content-center"> <span class="nav-link"> Point Shop </span>
                </div>
                <div class="col nav-item d-flex justify-content-center"> <span class="nav-link"> News </span> </div>
                <div class="col nav-item"> <span class="nav-link"> Labs </span> </div>
                <div class="col-3 nav-item">
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>