.body {
    height: 35px;
    display: flex;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 1px !important;
}

input {
    font-family: Aril, Helvetica, sans-serif;
    color: #c6d4df;
    border-radius: 1px;
    font-style: italic;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    height: 30px;

}

span.nav-link {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 12px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: -10px;
}

.dropbtn {
    color: #ffffff;
    text-decoration: none;
}

.dropdown-content.store,
.dropdown-content.noteworthy
.dropdown-content.category {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 12px #000000;
    text-align: left;
    z-index: 10;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #2c313a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.subMenuItem {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    padding: 0.375rem 0;
    padding-left: 0.9375rem;
    transition: 0.6s;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

div.subMenuItemTitle {
    font-size: 11px;
    color: #2ebfff;
    font-weight: 800;
    padding: 0.375rem 0;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdown-content {
    display: block;
    /* Imposta l'opacità iniziale a 0 */
    opacity: 0;
    /* Nascondi l'elemento senza cambiare il layout */
    visibility: hidden;
    /* Aggiungi transizione per un'apertura graduale */
    transition: opacity 0.6s ease, visibility 0s linear 0.3s;
}

.dropdown:hover .dropdown-content {
    /* Mostra l'elemento */
    opacity: 1;
    /* Assicurati che sia visibile */
    visibility: visible;
    /* Resetta il ritardo della visibilità */
    transition-delay: 0s;
}


.dropdown-content.store {
    min-width: 200px;
    position: absolute;
    top: 25px;
}

.dropdown-content.noteworthy {
    min-width: 400px;
    position: absolute;
    left: 5px;
    top: 25px;
}

.dropdown-content.category {
    min-width: 800px;
    position: absolute;
    left: -112px;
    top: 25px;
}

form {
    padding-bottom: 3px;
    padding-right: 5px;
}

.borderStyle {
    height: 1px;
    background: linear-gradient(90deg, rgba(216, 216, 216, 0.3), transparent);
    margin-top: 7px;
    margin-bottom: 8px;
    margin-left: 13px;
    width: 50%;
}

.navleft {
    margin-left: 5px;
    border-left: 1px solid #333333;
    padding-left: 5px;
}