<div class="container-fluid p-0">
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="container-fluid p-0">
                <div class="row">
                    <p> {{game.game.name}} </p>
                </div>
                <div class="row">
                    <div class="col-8 p-0">
                        <div class="row w-100">
                            <img width="90%%" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2072450/ss_615e436b89587d0685578972f946ee2880bb847b.600x338.jpg?t=1709543079">
                        </div>
                        <div class="row">
                            <p> ciao </p>
                        </div>                      

                        
                    </div>
                    <div class="col-4 p-0">
                        <div class="row">
                        <img class="img-fluid" src="https://cdn.cloudflare.steamstatic.com/steam/apps/2072450/header.jpg?t=1709543079">
                    </div>
                    <div class="row">
                        <p> Two larger-than-life heroes, Ichiban Kasuga and Kazuma Kiryu are brought together by the hand of fate, or perhaps something more sinister… Live it  up in Japan and explore all that Hawaii has to offer in an RPG adventure so big it spans the Pacific.</p>
                    </div>
                    <div class="row">

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div>