

.allContainer {
    margin: auto; // Centra il carosello orizzontalmente
}

.carouselContainer {
    margin: auto; // Assicura che il carosello sia centrato all'interno di .allContainer
    width: fit-content; // Mantiene la larghezza attuale
}

.carousel-control-next {
    margin-right: 14%;
    height: 108px;
    width: 45px;
    top: 25%; // Regola questa percentuale per allineare verticalmente i pulsanti con il carosello
    transform: translateY(-50%); // Mantiene la posizione centrale verticale
}
.carousel-control-prev{
    margin-left: 14%;
    height: 108px;
    width: 45px;
    top: 25%; // Regola questa percentuale per allineare verticalmente i pulsanti con il carosello
    transform: translateY(-50%); // Mantiene la posizione centrale verticale
}

.carousel-control-prev:hover{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0));
}

.carousel-control-next:hover{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(0, 0, 0));
}

@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        /* Modifica la posizione per schermi più piccoli */
        top: auto;
        bottom: 10px;  /* Sposta i pulsanti più in basso */
    }

    .carousel-control-prev {
        left: 5px;  /* Riduci la distanza dal bordo sinistro */
    }

    .carousel-control-next {
        right: 5px;  /* Riduci la distanza dal bordo destro */
    }
}


.CarouselTitle{
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0; /* Rimuove tutti i margini */
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
    margin-left: 8px;
}

.allContainer {
    margin: 0; /* Rimuove tutti i margini */
    padding: 0; /* Rimuove tutti i padding */
}





