<div class="allContainer">
    
    <a class="carousel-control-prev" href="#offerCarousel" role="button" data-bs-slide="prev" data-target="#offerCarousel">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    
    <div class="carouselContainer">
        
    
        <app-offer-cards></app-offer-cards>
    
    
    </div>
    
    <a class="carousel-control-next" href="#offerCarousel" role="button" data-bs-slide="next" data-target="#offerCarousel">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#offerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

</div>