<div>
    <p style="color: white; top:131px; position:relative; font-family:Motiva Sans, sans-serif !important; font-size:14px !important;">OFFERTE SPECIALI</p>
</div>

<div class="allContainer" style="max-width:1030px; width:1030px !important;">
    
    <a class="carousel-control-prev" href="#offerCarousel" role="button" data-bs-slide="prev" data-target="#offerCarousel">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="transform:scale(1.97) !important;"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    
    <div class="carouselContainer">
        
    
        <app-offer-cards></app-offer-cards>
    
    
    </div>
    
    <a class="carousel-control-next" href="#offerCarousel" role="button" data-bs-slide="next" data-target="#offerCarousel">
        <span class="carousel-control-next-icon" aria-hidden="true" style="transform:scale(1.97) !important;"></span>
        <span class="visually-hidden">Next</span>
    </a>


</div>