<div class="container-fluid p-0 m-0 min-vh-100 d-block body">
    <div class="row w-100">
        <div class="col-12 d-flex justify-content-center pt-5">
            <div>
                
                <p class="title"> Sign in </p>
                <form [formGroup]="loginForm" class="formcontrol mt-3 ps-4 pt-3">
                    <div class="form-group">
                        <label class="username"> Sign in with account name </label>
                        <input type="username" class="form-control" formControlName="username" autocomplete="off"
                            required>
                    </div>
                    <div class="form-group">
                        <label class="password"> Password </label>
                        <input type="password" class="form-control" formControlName="password" autocomplete="off"
                            required>
                            <!-- <i class="fa fa-eye" id="togglePassword"></i> -->
                    </div>
                    <div class="form-check d-flex align-items-end">
                        <input type="checkbox" class="form-check-input checkbox">
                        <label class="form-check-label ps-3"> Remind me </label>
                    </div>
                    <div class="signIn">
                        <button type="submit" class="btn btn-primary signIn" (click)="loginUser()"> Sign In </button>
                    </div>
                </form>
            </div>
        </div>
    </div>`
</div>

        <div class="container-fluid d-block containerRegister">
            <div class="row d-flex justify-content-center">
                <div [class]="col_2">
                        
                </div>
                <div [class]="col_8">
                        <div>
                            <ul class="nav d-flex justify-content-center">
                                <li class="nav-item labelRegister"> Are you a new User? </li>
                            </ul>
                            <ul class="nav d-flex justify-content-center">
                                <li class="nav-item button">
                                    <div>
                                        <button (click)="goTo('register')" type="button" class="btn btn-primary signUp">
                                            Create an account </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                <div [class]="col_2">
        
                </div>
            </div>
        </div>