<div class="container my-3 py-3 d-block">
    <div class="d-flex flex-column pb-3">

        <div class="container p-0 ps-2">
            <div class="d-flex flex-wrap">
                <div class="col p-0">

                </div>

                <div class="col-11 ps-1">
                    <p class="titles"> browse by category </p>
                </div>

                <div class="col">

                </div>
            </div>
        </div>

        <div id="categoryCarousel" class="carousel carousel-fade" data-bs-ride="carousel">

            <div class="container p-0">
                <div class="d-flex flex-wrap justify-content-center">

                    <div class="col p-0">

                        <button class="carousel-control-prev m-auto" type="button" data-bs-target="#categoryCarousel"
                            data-bs-slide="prev" (click)="prevPage()">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                    </div>

                    <div class="col-11 d-flex justify-content-center px-0">
                        <div class="carousel-inner">
                            <div  class="carousel-item" *ngFor="let page of pages; let i = index"
                            [class.active]="currentIndex === i">
                                <div class="container p-0">
                                    <div class="d-flex flex-wrap">

                                        <div class="col-3 px-1 card" *ngFor="let cardIndex of getCardsForPage(i)">
                                            <div class="card" (click)="goTo('../games/' + genres[cardIndex].name.toLowerCase())">
                                                <img class="img" [src]="images[cardIndex]">
                                                <div id="background" [style]="background[cardIndex]"> </div>
                                                <div class="categoryText">
                                                    <span> {{genres[cardIndex].name}} </span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col p-0">

                        <button class="carousel-control-next align-items-center m-auto" type="button"
                            data-bs-target="#categoryCarousel" data-bs-slide="next" (click)="nextPage()">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                </div>
            </div>

            <div class="container p-0 d-block">
                <div class="d-flex flex-wrap">
                    <div class="col">

                        <div class="carousel-indicators pt-3">
                            <button type="button" data-bs-target="#categoryCarousel" data-bs-slide-to="0" class="active"
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#categoryCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#categoryCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>