<div class="container-fluid p-0 my-5 d-block">

    <div class="row pb-3">

        <div class="col-1 p-0"></div>

        <div class="col-10 p-0">
            <p class="titles"> special offer </p>
        </div>

        <div class="col-1"></div>

    </div>

  <div id="offerCarousel" class="carousel carousel-fade main" data-bs-ride="carousel">
      <div class="row justify-content-center">

          <div class="col-1 p-0">

              <button class="carousel-control-prev m-auto" type="button" data-bs-target="#offerCarousel"
                  data-bs-slide="prev" (click)="prevPage()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>

          </div>

          <div class="col-10 d-flex justify-content-center px-0">
              <div class="carousel-inner">

                  <div class="carousel-item" *ngFor="let page of pages; let i = index" [class.active]="currentIndex === i">
                      <div class="row">

                          <div class="col-4 px-1"  *ngFor="let card of getCardsForPage(i)" (click)="goTo('../game/' + card.id)">
                              <div class="card">
                                <img class="img" [src]="card.images[5]?.image_path">

                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>

          <div class="col-1 p-0">

              <button class="carousel-control-next align-items-center m-auto" type="button"
                  data-bs-target="#offerCarousel" data-bs-slide="next" (click)="nextPage()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>

          </div>

      </div>
  </div>
</div>