<div class="container py-3 my-3 d-block offer-carousel-container">
    <div class="d-flex flex-column header">

        <div class="col section">
            <div class="container p-0 caption-container">
                <div class="d-flex flex-wrap header">

                    <div class="col section">
                    </div>

                    <div class="col-11 p-0 px-1 section">
                        <p class="caption"> special offers </p>
                    </div>

                    <div class="col section">
                    </div>
                </div>

            </div>
        </div>


        <div class="col section">
            <div id="offerCarousel" class="carousel carousel-fade wrapper" data-bs-ride="carousel">
                <div class="container p-0 carousel-container">
                    <div class="d-flex flex-wrap justify-content-center header">

                        <div class="col p-0 section">

                            <button class="carousel-control-prev m-auto" type="button" data-bs-target="#offerCarousel"
                                data-bs-slide="prev" (click)="prevPage()">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                        </div>

                        <div class="col-11 d-flex justify-content-center px-0 section">
                            <div class="carousel-inner">

                                <div class="carousel-item" *ngFor="let page of pages; let i = index"
                                    [class.active]="currentIndex === i">
                                    <div class="container p-0 card-container">
                                        <div class="d-flex flex-wrap header">

                                            <div class="col-4 pb-2 px-1 section" *ngFor="let card of getCardsForPage(i)"
                                                (click)="goTo('../game/' + card.id)">
                                                <div class="card wrapper">
                                                    <img class="image" [src]="card?.images[0]?.image_path">

                                                    <div class="container py-2 content-container">
                                                        <div class="d-flex flex-wrap header">

                                                            <div class="col d-flex section">
                                                                <div class="discount-percentace-wrapper">
                                                                    <span class="label"> {{
                                                                        card?.discounted_percentage }}% </span>
                                                                </div>
                                                                <div class="price-wrapper">
                                                                    <div class="col d-flex justify-content-end section">
                                                                        <span class="base-price-label"> {{
                                                                            card?.base_price.toFixed(2) + "€" }} </span>
                                                                    </div>
                                                                    <div class="col d-flex justify-content-end section">
                                                                        <span class="discount-price-label"> {{
                                                                            card?.discounted_price.toFixed(2) + "€" }}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col p-0 section">

                            <button class="carousel-control-next align-items-center m-auto" type="button"
                                data-bs-target="#offerCarousel" data-bs-slide="next" (click)="nextPage()">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>