//Variabili
$button-left-hover: linear-gradient(to left, rgba(212, 212, 212, 0.449), rgb(255, 0, 0, 0));
$button-right-hover: linear-gradient(to right, rgba(212, 212, 212, 0.449), rgb(255, 0, 0, 0));

//Mixin
@mixin button-icon-width {
  width: 2.8rem;
  max-width: 100%;
  max-height: 110px;
}

//Struttura CSS
.offer-carousel-container .header .section {
  .caption-container .header .section {
    .caption {
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    }
  }

  .wrapper .carousel-container .header .section {
    .carousel-control-prev {
      background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgb(0, 0, 0));

      &:hover {
        background-image: $button-left-hover;
        z-index: 0;
      }

      @include button-icon-width();

      .carousel-control-prev-icon {
        background-image: url(../../../../assets/image/category/arrow-left.png);
      }
    }

    .carousel-control-next {
      background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(0, 0, 0));

      &:hover {
        background-image: $button-right-hover
      }

      @include button-icon-width();

      .carousel-control-next-icon {
        background-image: url(../../../../assets/image/category/arrow-right.png);
      }
    }

    .carousel-inner {
      height: auto;
      max-width: 100%;

      .carousel-item {
        .card-container .header .section .wrapper {
          background-color: rgba(0, 0, 0, 0);
          border: 0px;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            transform: scale(1.02);
            z-index: 2;
            filter: brightness(1.10);
          }

          .image {
            pointer-events: none;
          }

          .content-container {
            pointer-events: none;
            background-image: url(../../../../assets/image/background_spotlight.jpg);
            background-repeat: no-repeat;
            background-size: cover;

            .header .section {
              .discount-percentace-wrapper {
                align-items: center;
                display: flex;
                border-radius: 1px;
                background: #4c6b22;

                .label {
                  padding: 0 5px 0 5px;
                  font-size: 26px;
                  font-family: "Motiva Sans", sans-serif;
                  font-weight: 500;
                  color: #BEEE11;
                }
              }

              .price-wrapper .section {
                background-color: #344654;

                .base-price-label {
                  padding: 2px 5px 0 0;
                  font-size: 11px;
                  line-height: 12px;
                  color: #738895;
                  text-decoration: line-through;
                  font-family: Arial, Helvetica, sans-serif;
                }

                .discount-price-label {
                  padding: 0 5px 0 5px;
                  font-size: 15px;
                  font-family: Arial, Helvetica, sans-serif;
                  color: #BEEE11;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* @media only screen and (max-width: 1320px) {
  .offer-carousel-container {
    width: max-content;
  }
} */
