<div class="container-fluid p-0 pt-5">

    <div class="row pb-3">

        <div class="col-1 p-0"></div>

        <div class="col-10 p-0">
            <p class="titles"> Updates and Offers </p>
        </div>

        <div class="col-1"></div>

    </div>

    <div class="row">
        <div class="col-1 p-0">

        </div>

        <div class="col-10 p-0">

            <div class="row">
                <div class="col-4 py-1" *ngFor="let item of games">
                    <div class="card p-0 border-0" (click)="goTo('../game/' + item.id)">
                        <img class="img" [src]="item.images[0]?.image_path">

                        <div class="container text py-2">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <div class="discountPercentage px-2">
                                        <span class="discountPercentage"> {{ item.discounted_percentage }}% </span>
                                    </div>
                                    <div class="price px-2">
                                            <div class="col d-flex justify-content-end">
                                                <span class="basePrice"> {{ item.base_price.toFixed(2) + "$" }} </span>
                                            </div>
                                            <div class="col d-flex justify-content-end">
                                                <span class="discountPrice"> {{ item.discounted_price.toFixed(2) + "$" }} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 p-0">

            </div>
        </div>
    </div>
</div>