<div class="container-fluid p-0 mt-5 d-block pt-5 ">
  <div class="row">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="New & Trending">

        <mat-card class="p-0">
          <div class="container p-0">
            
              <mat-card-content>
                <div class="row">
                <div class="col-3">
                  <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/2275020/capsule_184x69.jpg?t=1709222621"
                  width="184px" height="69px">
                </div>
  
                <div class="col-3 p-0 p-0">

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span class="title"> Titolo Gioco </span>
                      
                    </div>
                  </div>

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span> Platform </span>
                      
                    </div>
                  </div>

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span> Tags </span>
                      
                    </div>
                  </div>

                </div>
  
                <div class="col-3 p-0">
                  

                </div>
  
                <div class="col-3 p-0 d-flex align-items-center">

                  <span style="color: white; font-size: 15px;"> Free to Play</span>

                </div>
              </div>
              </mat-card-content>
     
          </div>
        </mat-card>

        <mat-card class="p-0">
          <div class="container p-0">
            
              <mat-card-content>
                <div class="row">
                <div class="col-3">
                  <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/2275020/capsule_184x69.jpg?t=1709222621"
                  width="184px" height="69px">
                </div>
  
                <div class="col-3 p-0 p-0">

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span class="title"> Titolo Gioco </span>
                      
                    </div>
                  </div>

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span> Platform </span>
                      
                    </div>
                  </div>

                  <div class="row d-flex">
                    <div class="col-12 p-0"> 

                      <span class="tags"> </span>
                      
                    </div>
                  </div>

                </div>
  
                <div class="col-3 p-0 d-flex justify-content-center align-items-center">

                </div>
  
                <div class="col-3 p-0 d-flex align-items-center justify-content-end px-5">

                  <span class="price"> 39,59$ </span>

                </div>
              </div>
              </mat-card-content>
     
          </div>
        </mat-card>
         
      </mat-tab>
      <mat-tab label="Top Sellers">Content 2</mat-tab>
      <mat-tab label="Popular Upcoming">Content 3</mat-tab>
      <mat-tab label="Specials">Content 4</mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- <mat-card-content class="m-0">
                  <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/2275020/capsule_184x69.jpg?t=1709222621"
                    width="184px" height="69px">
                    <span> ciao </span>
                </mat-card-content> -->