.carousel_container {
    position: relative;

}

.carousel-control-prev {
    position: absolute;
    top: 50%;  
    left: 56px;
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
}

.carousel-control-next {
    position: absolute;
    top: 50%;  
    right: 300px;
    transform: translateY(-50%);
    background-color: aquamarine;
    width: 45px;
    height: 108px;
}


@media (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        /* Modifica la posizione per schermi più piccoli */
        top: auto;
        bottom: 10px;  /* Sposta i pulsanti più in basso */
    }

    .carousel-control-prev {
        left: 5px;  /* Riduci la distanza dal bordo sinistro */
    }

    .carousel-control-next {
        right: 5px;  /* Riduci la distanza dal bordo destro */
    }
}

.gamescreenshot{
    height: 75;
    width: 128px;
    margin: 5px;
}

.card-body{
    padding-left: 50px;
    margin-left: 110px;
    color: white;
    height: 353px;
    width: 380px;
    background-image: url('https://store.akamai.steamstatic.com/public/images/v6/home/background_maincap_2.jpg');

}
.card-img{
    height: 353px;
    width: 616px;
}
#carousel{
    height: 452px;
    width: 950px;
    margin: 100px;
}

#carouselcenter{
    height:353px;
    width: 616px;
}
