<div class="container-fluid p-0 m-0 d-block">
    <div class="row p-0 w-100">
        <div class="col-2 d-flex justify-content-center p-0">

        </div>
        <div class="col-8 d-flex justify-content-center p-0">
            <footer class="py-3 my-4">
                <div class="row">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3 border-top pt-3 mt-3">
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem"> Privacy Policy </a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem_separator"> | </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem"> Legal </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem_separator"> | </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem">  Steam Subscriber Agreement
                                </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem_separator"> | </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem">  Refunds </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem_separator"> | </a> </li>
                            <li class="nav-item"><a class="nav-link px-sm-1 footeritem"> Cookies </a> </li>
                    </ul>
                </div>

                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> About Valve </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem_separator"> | </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> Jobs </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem_separator"> | </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> Steamworks </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem_separator"> | </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> Steam Distribution </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem_separator"> | </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> Support </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem_separator"> | </a> </li>
                    <li class="nav-item"><a class="nav-link px-2 footeritem"> Gift Cards </a> </li>
                </ul>
            </footer>

        </div>
        <div class="col-2 d-flex justify-content-center p-0">

        </div>
    </div>
</div>

<!-- <div class="container-fluid footergrid">
    <footer class="">
        <div>
            <ul class="nav justify-content-center col-7 info">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img
                            src="../../../assets/image/footerLogo_valve_new.png"> </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
            </ul>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img src="../../../assets/image/footerLogo_valve_new.png">
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
            </ul>
            <ul class="nav justify-content-center col-7 info">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img src="../../../assets/image/footerLogo_valve_new.png">
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
            </ul>
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> About Valvue </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Uses </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Distribution on Steam </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Assistance </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Gift voichers </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem">  Steam </a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem">  steam </a></li>
            </ul>
        </div>
    </footer>
</div> -->