<div class="container-fluid footergrid">
    <footer class="">
        <div>
            <ul class="nav justify-content-center col-7 info">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img
                            src="../../../assets/image/footerLogo_valve_new.png"> </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
            </ul>
            <!-- <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img src="../../../assets/image/footerLogo_valve_new.png">
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
            </ul>
            <ul class="nav justify-content-center col-7 info">
                <li class="nav-item"><a href="#" class="nav-link px-2"> <img src="../../../assets/image/footerLogo_valve_new.png">
                    </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
            </ul> -->
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> About Valvue </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Uses </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Distribution on Steam </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Assistance </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> Gift voichers </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> <!-- logo facebook --> Steam </a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem_separator"> | </a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 footeritem"> <!-- logo twitter --> steam </a></li>
            </ul>
        </div>
    </footer>
</div>