.footeritem {
    color: #C6D4DF;
    display: flex;
    align-items: center;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.footergrid {
    background-color: #171a21;
}