.container-fluid {
    background-color: #171a21;
}

.footeritem_separator {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 0.8125rem;
    color: #61686D;
}

.footeritem {
    color: #C6D4DF;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 0.8125rem;
}

ul {
    border-color: #363c44 !important;
    border-width: 1px !important;
}

/* .footeritem {
    color: #C6D4DF;
    display: flex;
    align-items: center;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 0.8125rem;
}

.footergrid {
    background-color: #171a21;
}

.footeritem_separator {
    display: block;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 0.8125rem;
    color: #61686D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.info {
    border-top: 0.0625rem solid rgb(130, 123, 123);
    border-bottom: 0.0625rem solid rgb(130, 123, 123);
    margin: auto;
}

.container-fluid {
    display: block;
    position: absolute;
}
 */