<!-- <div class="container-fluid p-0 m-0 d-block">
  <div class="row">

    <div class="col-1">
    </div>

    <div class="col-10">
      <div class="row">

        <div class="col-4">
        </div>

        <div class="col-4">
        </div>

        <div class="col-4">

      </div>
    </div>

    <div class="col-1">
    </div>

  </div>
</div> -->

<div class="container-fluid d-block p-0 m-0 m-5">
  <div id="myCarousel" class="carousel slide m-0 main" data-bs-ride="carousel">
    <div class="row">
      <div class="col-1 p-0 d-flex">

        <button class="carousel-control-prev d-flex align-items-center m-auto" type="button"
          data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

      </div>
      <div class="col-10 p-0 d-flex">
        <div class="container d-flex">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg> -->
              <div class="row">
                <div class="col-4 p-0 d-flex justify-content-center">
                  
                  <mat-card>
                    <img mat-card-image
                      src="https://cdn.cloudflare.steamstatic.com/steam/spotlights/2690f9471176e481867dab8e/spotlight_image_english.jpg?t=1706918822">
                    <mat-card-content>
                      
                    </mat-card-content>
                  </mat-card>

                </div>
                <div class="col-4 p-0 d-flex justify-content-center">

                   <mat-card>
                    <img mat-card-image
                      src="https://cdn.cloudflare.steamstatic.com/steam/spotlights/2690f9471176e481867dab8e/spotlight_image_english.jpg?t=1706918822">
                    <mat-card-content>
                      
                    </mat-card-content>
                  </mat-card> 

                </div>
                <div class="col-4 p-0 d-flex">
                   <mat-card>
                    <img mat-card-image
                      src="https://cdn.cloudflare.steamstatic.com/steam/spotlights/2690f9471176e481867dab8e/spotlight_image_english.jpg?t=1706918822">
                    <mat-card-content>
                      
                    </mat-card-content>
                  </mat-card>

                 <!-- <mat-card>
                    <img mat-card-image
                      src="https://cdn.cloudflare.steamstatic.com/steam/spotlights/2690f9471176e481867dab8e/spotlight_image_english.jpg?t=1706918822">
                    <mat-card-content>
                      
                    </mat-card-content>
                  </mat-card> -->
                </div>
              </div>
          </div>
          <!-- <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>One more for good measure.</h1>
                <p>Some representative placeholder content for the third slide of this carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
              </div>
            </div>
          </div> -->
        </div>

      </div>
      <div class="col-1 p-0 d-flex">

        <button class="carousel-control-next align-items-center m-auto" type="button" data-bs-target="#myCarousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
      </div>
    </div>

    <div class="col-12 d-flex">

      <div class="carousel-indicators m-0 p-0">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 1"> </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 1"> </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 1"> </button>
      </div>
    </div>
  </div>
</div>