<div class="container-fluid d-block p-0 m-0 mt-5 h-50">
  <div id="myCarousel" class="carousel slide m-0 main" data-bs-ride="carousel">
    <div class="row d-flex main">
      <div class="col-1 p-0 arrow">

        <button class="carousel-control-prev m-auto" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

      </div>
      <div class="col-10 d-flex p-0">
        <div class="container p-0">
          <div class="carousel-inner">
            <div class="carousel-item active h-50">
              <div class="row">
                <div class="col-4 p-0 d-flex justify-content-center">

                  <mat-card class="example-card mx-1 d-flex align-items-end pb-0" style="background-image: url('https://cdn.cloudflare.steamstatic.com/steam/spotlights/969e89a49f7155013820a4bb/spotlight_image_english.jpg?t=170691793');">
                    <div class="container price">
                      <mat-card-content>
                        <div class="container pt-2">
                        <p class="title mb-1"> weekend deal </p>
                        <p class="subTitle mb-1"> offer ends </p>
                        <div class="row p-0 ps-2">
                          <div class="col scount d-flex align-items-center">
                            <h4 class="m-0"> -70% </h4>
                          </div>
                          <div class="col scount_2">
                            <p class="m-0 titleScount_2 d-flex justify-content-end"> 27,20 </p>
                            <p class="m-0 titleScount d-flex justify-content-end"> 8,39 </p>
                          </div>
                        </div>
                      </div>
                      </mat-card-content>
                    </div>
                    

                  </mat-card>


                </div>
                <div class="col-4 p-0 d-flex justify-content-center">

                  <mat-card class="example-card mx-1 d-flex align-items-end" style="background-image: url('https://cdn.cloudflare.steamstatic.com/steam/spotlights/ec219d3bc0d9ceb91e21457e/spotlight_image_english.jpg?t=170777217');">

                    <div class="container price">
                      <mat-card-content>
                        <div class="container pt-2">
                        <p class="title mb-1"> weekend deal </p>
                        <p class="subTitle mb-1"> offer ends </p>
                        <div class="row p-0 ps-2">
                          <div class="col scount d-flex align-items-center">
                            <h4 class="m-0"> -70% </h4>
                          </div>
                          <div class="col scount_2">
                            <p class="m-0 titleScount_2 d-flex justify-content-end"> 27,20 </p>
                            <p class="m-0 titleScount d-flex justify-content-end"> 8,39 </p>
                          </div>
                        </div>
                      </div>
                      </mat-card-content>
                    </div>

                  </mat-card>

                </div>
                <div class="col-4">
                  <div class="row d-flex">
                    <div class="col-6 p-0 w-100">

                      <mat-card class="example-card orizontal mx-1 mb-2 d-flex align-items-end" style="background-image: url('https://cdn.cloudflare.steamstatic.com/steam/apps/325210/header_alt_assets_4.jpg?t=1707140833');">

                        <div class="container price d-flex justify-content-end p">
                          <mat-card-content class="m-0">
                            <div class="container py-1">
                            <div class="row p-0 ps-2">
                              <div class="col scount d-flex align-items-center">
                                <h4 class="m-0"> -70% </h4>
                              </div>
                              <div class="col scount_2">
                                <p class="m-0 titleScount_2 d-flex justify-content-end"> 27,20 </p>
                                <p class="m-0 titleScount d-flex justify-content-end"> 8,39 </p>
                              </div>
                            </div>
                          </div>
                          </mat-card-content>
                        </div>

                      </mat-card>

                    </div>
                  </div>
                  <div class="row d-flex">
                    <div class="col-6 p-0 w-100">


                      <mat-card class="example-card orizontal mx-1 d-flex align-items-end" style="background-image: url('https://cdn.cloudflare.steamstatic.com/steam/apps/1351080/header.jpg?t=1708101871');">

                        <div class="container price d-flex justify-content-end">
                          <mat-card-content class="m-0">
                            <div class="container py-1">
                            <div class="row p-0 ps-2">
                              <div class="col scount d-flex align-items-center">
                                <h4 class="m-0"> -70% </h4>
                              </div>
                              <div class="col scount_2">
                                <p class="m-0 titleScount_2 d-flex justify-content-end"> 27,20 </p>
                                <p class="m-0 titleScount d-flex justify-content-end"> 8,39 </p>
                              </div>
                            </div>
                          </div>
                          </mat-card-content>
                        </div>

                      </mat-card>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-1 p-0 d-flex arrow">

        <button class="carousel-control-next align-items-center m-auto" type="button" data-bs-target="#myCarousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>

      <!--       <div class="carousel-indicators m-0 p-0">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1">
    </button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 1"> </button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 1"> </button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 1"> </button>
  </div> -->

    </div>

    <div class="row ">
      <div class="col-12 d-flex justify-content-center pt-4">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active buttonBotton"
          aria-label="Slide 1">
        </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="buttonBotton ms-1"
          aria-label="Slide 1"> </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class="buttonBotton ms-1"
          aria-label="Slide 1"> </button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" class="buttonBotton ms-1"
          aria-label="Slide 1"> </button>
      </div>
    </div>
  </div>